:local(.contentContainer) {
	composes:stdBlock from './root.css';
	display:inline-block;
	border-radius: 2px;
	height:100%;
	width:50%;
	font-size: 80%;
	background-color: #212121;
	vertical-align: top;
}

:local(.stdContentBlock){
	composes:stdBlock from './root.css';	
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    margin: auto auto 3% 11%;
    border-style: solid;
    border-width: 1px;
    border-color: #212121;
    border-radius: 5px;
    font:black;
}

:local(.contenttMenuBlock){

}

:local(.addContentButton){
	composes:stdContentBlock;
	background-color: #00BCD4;
	border-width: 0px;
	height: 30px;
	width: 50px;
}
