input{
	border: 0px;
    height: 100%;
    text-align: center;
    color: white;
    background-color: #2f2f2f;
    width: 100%;
    font-family: Comfortaa, cursive;
}

input::placeholder {
	color: #fdfdfd50;
  	font-size: 1.2em;
	font-family: Comfortaa, cursive;
}

.stdFormInput{
	border-radius: 2px;
    margin: 5px;
    padding: 7px;
    background-color: #2f2f2f;
    margin-left: 17px;
    margin-right: 17px;
    color: white;
    margin-top: 7px;
    height: 45px;
}

/*
======Photo Upload Form Styles======
*/
:local(.formContentContainer) {
	/*display: grid;
	grid-template-columns: 18% 1fr;
	grid-template-rows: 0px 100%;
	grid-gap: 1px;
	grid-template-areas: 
		". control"
		". addOutfit";*/
	height:100%;
}

:local(.stdFormBlk){
	composes:stdBlock from './root.css';
	display: inline;
	border-radius: 2px;
	height: 20px;
	font-size: 70%;
	color: white;
}

:local(.imageUploadPreview) {
	composes: stdFormBlk;
	display: block;
	height: 100%;
    padding: 0px;
	/*grid-area: addOutfit;
	border-radius: 0px;
	border-left-style: solid;
	border-left-width: 1px;
	background-color: #212121;*/
	/*height: 100%;*/
}

:local(.imgFormControlStyle){	
	display: inline-block;
	margin-right: 5%;
    margin-left: 5%;
	margin-top: calc((5vh + 25px) / 4);
    width: 60px;
    height: 40px;
    background-color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    border-color: #888888;
    border-radius: 5px;
    color:black;
    text-align:center;
    font-size:70%;
}

:local(.outfitFormControl){
	composes: stdFormBlk;
	grid-area: control;
}


/*
======Login Form Styles======
*/
:local(.loginForm){
	left:auto;
	right:auto;
	width:300px;
	background-color:rgba(0,0,0,0);
	color:white;
	padding-top:7px;
}

:local(.addItemForm){
    border-radius: 2px;
    /*border-style: solid;*/
    border-color: #212121;
    border-width: 1px;
    padding-top: 10px;
    width: 100%;
}

:local(.nameField){
	composes:stdFormInput;
	text-align:right;
}

:local(.passwordField){
	composes:stdFormInput;
	text-align:right;
}

:local(.submitButton){
	composes:stdButton from './root.css';    
	height: 40px;
    background-color: #1c2023;
    font-size: 80%;
    width: 125px;
    text-align: center;
    /*margin-right: 5px;
    margin-left: 5px;*/
    font-size: 15pt;
}

:local(.dropDownContainer){
	background-color: #fdfdfd;
    border-style: solid;
    height: 300px;
    border-width: 2px;
	border-color: #2f2f2f;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: -7px;
    overflow-y: scroll;
}

:local(.dropdownItemContainer){
	margin-top: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 26px;
    height: 30px;
    border-bottom-left-radius: 5px;
}

.dropdownItemContainer:hover{
	background-color: #c27e1d73;
}
