:local(.itemContainer) {
	height: 53px;	
	display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-template-areas: 
		"size type image image"
}

:local(.stdItemBlock){
	composes:stdBlock from './root.css';
	margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #424242;
    border-style: solid;
	height:50px;
	font-size: 80%;
	background-color: #000000;
}

:local(.itemSizeBlock) {
	composes: stdItemBlock;
	grid-area: size;
}

:local(.itemTypeBlock) {
	composes: stdItemBlock;
	grid-area: type;
}

:local(.itemImageBlock) {
	composes: stdItemBlock;
	grid-area: image;
}