:local(.itemContainer) {
	height: 75px;
	margin-bottom:8px;	
	/*display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-template-areas: 
		"type size retailer brand"*/
}

.itemPin:hover{
	cursor: grab;
}

:local(.itemPin){

}



:local(.itemMenuHeaderContainer){
    height: 100%;
}

:local(.itemMenuHeader){
	width: 35px;
    height: 100%;
}

:local(.itemMenuHeaderIconContainer){
	height: 100%;
    padding-top: 20px;
}



:local(.stdItemBlock){
	composes:stdBlock from './root.css';
	/*margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #424242;
    border-style: solid;*/
    border-radius:0px;
	height:100%;
	font-size: 80%;
	background-color: #4a4547;
	display: inline-flex;
}

:local(.itemSizeBlock) {
	composes: stdItemBlock;
	grid-area: size;
	width:50px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

:local(.itemTypeBlock) {
	composes: stdItemBlock;
	grid-area: type;
	width: 50px;
	position: relative;
	vertical-align: top;
}

:local(.itemRetailerBlock) {
	composes: stdItemBlock;
	color: #d3effb;
	height: 50%;
    display: block;
	padding-left: 8px;
}

:local(.itemBrandBlock) {
	composes: stdItemBlock;
	height: 50%;
    display: block;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
	font-size: 24px;
    height: 50%;
    color: #BDBDBD;
    position: relative;
	padding-left: 8px;

	/*background-image: linear-gradient(to right, black, black, #616161);*/
}




/*==========TRANSITION GROUP CLASSES==========*/


/*All Items*/

.itemInitialize-enter{
	height: 0px;
	opacity: 0;
}

.itemInitialize-enter-active{
	opacity: 1;
	height: 75px;
	transition: opacity 200ms ease-in, height 200ms ease-in;

}

.itemInitialize-exit{
	opacity: 1;
	height: 75px;	
}

.itemInitialize-exit-active{
	opacity: 0;
	height: 0px;
	transition: opacity 100ms, height 100ms;
}


/*Item Menu Icons*/

.itemMenuContainer{
	z-index:-1;
	position: absolute;
	height:75px;
}

.itemMenuContainer-enter{
	opacity: 0;
	margin-left: 25px;
}

.itemMenuContainer-enter-active{
	/*z-index:1;*/
	opacity : 1; 
	margin-left: -50px;
	transition: all 200ms ease-in,;
}

.itemMenuContainer-exit{
	/*opacity : 1;*/
	/*margin-left: -50px;*/
}

.itemMenuContainer-exit-active{
	/*z-index:-1;*/
	opacity: 0;
	margin-left: 25px;
	transition: margin-left 100ms, opacity 100ms;
}

:local(.itemContainer_div){
	composes:itemBrowseInitialize-enter-active from './itemBrowse.css';
	/*height: 100px;
	width: 500px
	margin-auto;
	margin-bottom: 12px;
	border-radius: 3px;*/
};

:local(.itemContainerEdit_div--selected){
	composes:itemContainer_div;
    border-style: solid;
    border-color: #6dd7b4;
    border-width: 3px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-right: none;
    margin-left: -3px;
}

:local(.itemContainerPreview_div--selected){
	composes:itemContainerEdit_div--selected;
	border-color: red;
}

:local(.itemContainerBrowse_div--selected){
	composes:itemContainer_div;
    margin-bottom: 312px;
	border:none;

}