:local(.itemContainer) {
	height: 75px;
	margin-bottom:8px;	
	/*display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-template-areas: 
		"type size retailer brand"*/
}

.itemPin:hover{
	cursor: grab;
}

:local(.itemPin){

}



:local(.itemMenuHeaderContainer){
    height: 100%;
}

:local(.itemMenuHeader){
	width: 35px;
    height: 100%;
}

:local(.itemMenuHeaderIconContainer){
	height: 100%;
    padding-top: 20px;
}



:local(.stdItemBlock){
	composes:stdBlock from './root.css';
	/*margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #424242;
    border-style: solid;*/
    border-radius:0px;
	height:100%;
	font-size: 80%;
	background-color: #4a4547;
	display: inline-flex;
}

:local(.itemSizeBlock) {
	composes: stdItemBlock;
	grid-area: size;
	width:50px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

:local(.itemTypeBlock) {
	composes: stdItemBlock;
	grid-area: type;
	width: 50px;
	position: relative;
	vertical-align: top;
}

:local(.itemRetailerBlock) {
	composes: stdItemBlock;
	background-color: none;
	color: #e0c570;
	height: 50%;
    display: block;
	padding-left: 8px;
	background-color: #0000;
	font-size:1.5em; 
}

:local(.itemBrandBlock) {
	composes: stdItemBlock;
	height: 50%;
    display: block;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
	font-size: 24px;
    height: 50%;
    /*color: #BDBDBD;*/
    color: #6d6d6d;
    position: relative;
	padding-left: 8px;
	background-color: #0000;

	/*background-image: linear-gradient(to right, black, black, #616161);*/
}




/*==========TRANSITION GROUP CLASSES==========*/


/*All Items*/

.itemInitialize-enter{
	height: 0px;
	opacity: 0;
	margin-bottom: 12px
}

.itemInitialize-enter-active{
	opacity: 1;
	height: 112.5px;
	transition: opacity 200ms ease-in, height 200ms ease-in;
	margin-bottom: 12px

}

.itemInitialize-exit{
	opacity: 1;
	height: 112.5px;	
	margin-bottom: 12px
}

.itemInitialize-exit-active{
	opacity: 0;
	height: 0px;
	transition: opacity 100ms, height 100ms;
	margin-bottom: 12px
}


/*Item Menu Icons*/

.itemMenuContainer{
	z-index:-1;
	position: absolute;
	height:112.5px;
}

.itemMenuContainer-enter{
	opacity: 0;
	margin-left: 25px;
}

.itemMenuContainer-enter-active{
	/*z-index:1;*/
	opacity : 1; 
	margin-left: -50px;
	transition: all 200ms ease-in,;
}

.itemMenuContainer-exit{
	/*opacity : 1;*/
	/*margin-left: -50px;*/
}

.itemMenuContainer-exit-active{
	/*z-index:-1;*/
	opacity: 0;
	margin-left: 25px;
	transition: margin-left 100ms, opacity 100ms;
}

:local(.itemContainer_div){
	composes:itemBrowseInitialize-enter-active from './itemBrowse.css';
	/*height: 100px;
	width: 500px
	margin-auto;
	margin-bottom: 12px;
	border-radius: 3px;*/
};

:local(.itemContainerEdit_div--selected){
	composes:itemContainer_div;
    border-style: solid;
    border-color: #6dd7b4;
    border-width: 3px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-right: none;
    margin-left: -3px;
}

:local(.itemContainerPreview_div--selected){
	composes:itemContainerEdit_div--selected;
	border-color: red;
}

:local(.itemContainerBrowse_div--selected){
	composes:itemContainer_div;
    margin-bottom: 312px;
	border:none;

}

:local(.sourceInfo){
	display: inline-block;
    width: calc(100% - 181px);
    vertical-align: top;
    height: 100%;
    border-left: 6px solid rgb(253, 253, 253);
    background-color: #4a4547
}

:local(.sourceInforProfile_div){
	composes:sourceInfo;	
    width: calc(100% - 100px - 5px);
    padding-right: 15px;
    /*background-color: #4a4547;*/
    background-color: #ffffff;
    margin-left: 5px;
    border: 1px solid #bdbcbc;
    border-radius: 4px;
}

:local(.shopBtnContainer_div){

	position: relative;
    display: inline-block;
    vertical-align: top;
	background-color: #ffffff;
    height: 100%;
}

:local(.shopBtn_div){
	composes:pressable from "./root.css";
	position: absolute;
    width: 35px;
    height: 35px;
    margin-left: -50px;
    bottom:2px;
}

.shopMask_div:hover{
	display:none;
}

.shopMask_div{
	display: block;
	width: 100%;
    height: 100%;
    /*background-color: #4a45477d;*/
    background-color: #ffffff7d;
    position: absolute;
    top: 0px;
}

:local(.itemBrandHomeGradientContainer_div){
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 0px;
}

:local(.itemBrandHomeGradient_div){
	position: absolute;
    width: 10px;
    height: 50px;
    /*background: linear-gradient(to left, #4a454700, #4a4547);*/
    background: linear-gradient(to left, #ffffff00, #ffffff);
    margin-left: -8px;
}

:local(.brandName_div){
	overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    width: calc(100% - 11px);
    font-family: "Archivo Black", sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

:local(.itemBrandEndGradientContainer_div){
	composes:itemBrandHomeGradientContainer_div;
}

:local(.itemBrandEndGradient_div){
	composes:itemBrandHomeGradient_div;
    width: 50px;
    /*background: linear-gradient(to right, #4a454700, #4a4547);*/
    background : linear-gradient(to right, #ffffff00, #ffffff, #ffffff);
    margin-left: -39px;
}

:local(.ellipsisContainer_div){
	color: #bdbdbd;
    width: 15px;
    height: 3.5rem;
    float: right;
    position: relative;
}

:local(.ellipsis_div){
	position: absolute;
    height: 100%;
    line-height: 3.5rem;
    font-size: 2.5rem;
}