:local(.metricNodeBlock) {
	background-color: rgba(0,0,0,0);
	width:13px;
	height:13px;
	position:relative;
}

:local(.axisLabelUpperBody){
    /*position: absolute;
    width: 50%;
    left: -50%;
    height: 100%;
    background-color: #fdfdfd;*/
    color: #212121;
	/*border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #d4d4d4;*/
    margin-left:10px;
}

:local(.axisLabelLowerBody){	
	composes:axisLabelUpperBody;
}



:local(#leftBodyDiagramContainer, #rightBodyDiagramContainer) {
		height:calc(100vh - 80px); 
		display:inline-block;
		width:42.5%;
		margin-top:80px;
		vertical-align:top
}

:local(#fieldList) {
	width:15%;
	margin:auto;
	margin-top:220px;
	display: inline-block;
	text-align:center;
	vertical-align:top;
	border-style: solid;
	border-color: #212121;
	border-width: 1px;
	border-radius: 3px;
	padding: 10px;
	padding-top: 30px;
	padding-bottom: 30px
}




:local(#female; #male){	
    display: inline-block;
    width:40px;
    margin-right:10px
}


:local(#leftBodyDiagramContainer) {
	height:calc(100vh - 640px); 
	display:inline-block;
	width:100%;
	margin-top:80px;
	vertical-align:top
}

:local(#rightBodyDiagramContainer){
	display: none
}


:local(#bodyShapeRadioList > #female){
	display: inline-block;
}

:local(#bodyShapeRadioList > #male){
	display: inline-block;
  	/*margin-left: 45%;*/
}

:local(#apparelInterest){

}
