:local(.metricNodeBlock) {
	background-color: rgba(0,0,0,0);
	width:13px;
	height:13px;
	position:relative;
}

:local(.axisLabelUpperBody){
	padding-top: 15px;
    margin-top: -15px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgb(212, 212, 212);
    width: 13vh
}

:local(.axisLabelLowerBody){	
	composes:axisLabelUpperBody;
}

:local(.barGraphContainer_div){
	width: 100%;
	height: calc(1.5vh + 4px);
    padding-top: 2px;
}

:local(.metricGraphContainer_div){
	display: inline-block;
    vertical-align: top;
	width: calc(300px - 13vh - 30px);
}

:local(#leftBodyDiagramContainer, #rightBodyDiagramContainer) {
	height:calc(100vh - 80px); 
	display:inline-block;
	width:42.5%;
	margin-top:80px;
	vertical-align:top
}

:local(#fieldList) {
	width:15%;
	margin:auto;
	margin-top:220px;
	display: inline-block;
	text-align:center;
	vertical-align:top;
	border-style: solid;
	border-color: #212121;
	border-width: 1px;
	border-radius: 3px;
	padding: 10px;
	padding-top: 30px;
	padding-bottom: 30px
}




:local(#female; #male){	
    display: inline-block;
    width:40px;
    margin-right:10px
}


:local(#leftBodyDiagramContainer) {
	height:calc(100vh - 640px); 
	display:inline-block;
	width:100%;
	margin-top:80px;
	vertical-align:top
}

:local(#rightBodyDiagramContainer){
	display: none
}


:local(#bodyShapeRadioList > #female){
	display: inline-block;
}

:local(#bodyShapeRadioList > #male){
	display: inline-block;
  	/*margin-left: 45%;*/
}

:local(#apparelInterest){

}




:local(.graphBar_div){
	height:1.5vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: black;
    position: absolute;
    background-color: #70ccf44d;
    border-color: #70ccf4;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;	
}

:local(.graphBar_div--highlight){
	composes:graphBar_div;
	background-color: #70ccf4c9;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;	
}


:local(.labelFormatting_div){
	composes:defaultCursor from "./root.css";
	cursor:default;
	background-color: #0000;
	color: black;
	padding-top: 2px;
	padding-bottom: 2px;
    font-size: 1.5vh;
    line-height: 1.5vh;
    height: calc(1.5vh + 4px);
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;	
}

:local(.labelFormatting_div--hovered){
	composes:labelFormatting_div;
	background-color: #212121b5;
    color: white;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.labelFormatting_div-enter{
	background: #21212100;
	color: black;
}

.labelFormatting_div-enter-active{
	background-color: #212121b5;
    color: white;
	transition: opacity 200ms ease-in;
}

.labelFormatting_div-exit{
	/*opacity : 1;*/
	/*margin-left: -50px;*/
}

.labelFormatting_div-exit-active{
	background-color: none;
	color: black;
	transition: opacity background-color ease-out;
}
