:local(.metricNodeBlock) {
	background-color: rgba(0,0,0,0);
	width:13px;
	height:13px;
	position:relative;    
}

:local(.axisLabelUpperBody){
	padding-top: 15px;
    margin-top: -15px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgb(212, 212, 212);
    width: 13vh;
}

:local(.axisLabelLowerBody){	
	composes:axisLabelUpperBody;
}

:local(.barGraphContainer_div){
	width: 100%;
	height: calc(1.5vh + 4px);
    padding-top: 2px;
    background-color: var(--nfz-color);
    transition: margin-left 200ms ease-in-out, 
}

:local(.metricGraphBarsContainer_div){
    position: relative;
	display: inline-block;
    vertical-align: top;
	width: var(--x-axis-range);
}

:local(#leftBodyDiagramContainer, #rightBodyDiagramContainer) {
	height:calc(100vh - 80px); 
	display:inline-block;
	width:42.5%;
	margin-top:80px;
	vertical-align:top
}

:local(#fieldList) {
	width:15%;
	margin:auto;
	margin-top:220px;
	display: inline-block;
	text-align:center;
	vertical-align:top;
	border-style: solid;
	border-color: #212121;
	border-width: 1px;
	border-radius: 3px;
	padding: 10px;
	padding-top: 30px;
	padding-bottom: 30px
}




:local(#female; #male){	
    display: inline-block;
    width:40px;
    margin-right:10px
}


:local(#leftBodyDiagramContainer) {
	height:calc(100vh - 640px); 
	display:inline-block;
	width:100%;
	margin-top:80px;
	vertical-align:top
}

:local(#rightBodyDiagramContainer){
	display: none
}


:local(#bodyShapeRadioList > #female){
	display: inline-block;
}

:local(#bodyShapeRadioList > #male){
	display: inline-block;
  	/*margin-left: 45%;*/
}

:local(#apparelInterest){

}

:local(.leftCornerMoulding_div){
    position: absolute;
    height: calc(100% + 2px);
    margin-top: -1px;
    width: 10px;
    border-radius: var(--moulding-radius);
    left: calc(-1*var(--moulding-radius));
}

:local(.rightCornerMoulding_div){
    composes:leftCornerMoulding_div;
    right: calc(-1*var(--moulding-radius));
    left:unset;
}

:local(.fitZone_div){
    height: calc(1.5vh + 4px);
    position: absolute;
    background-color: var(--fz-color);
    border: solid 1px var(--fz-color);
    margin-top: -2px;
    border-left: none;
    border-right: none;
}


:local(.graphBar_div){
	height:1.5vh;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: black;
    position: absolute;
    background-color: var(--bar-fill-color);
    border-color: var(--bar-border-color);
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out, width 200ms ease-in-out;	
}

:local(.graphBar_div--highlight){
	composes:graphBar_div;
	background-color: #70ccf4c9;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;	
}


:local(.labelFormatting_div){
	composes:defaultCursor from "./root.css";
	cursor:default;
	background-color: #0000;
	color: black;
	padding-top: 2px;
	padding-bottom: 2px;
    font-size: 1.5vh;
    line-height: 1.5vh;
    height: calc(1.5vh + 4px);
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;	
}

:local(.labelFormatting_div--hovered){
	composes:labelFormatting_div;
	background-color: #212121b5;
    color: white;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.labelFormatting_div-enter{
	background: #21212100;
	color: black;
}

.labelFormatting_div-enter-active{
	background-color: #212121b5;
    color: white;
	transition: opacity 200ms ease-in;
}

.labelFormatting_div-exit{
	/*opacity : 1;*/
	/*margin-left: -50px;*/
}

.labelFormatting_div-exit-active{
	background-color: none;
	color: black;
	transition: opacity background-color ease-out;
}


:local(.metricsDataHeader_div){
	/*height: calc(5vh + 28px);*/
    height: 45px;
    color: rgb(11; 11; 115);
    margin: 10px 0px 0px 20px;
    font-size: 2em;
}

:local(.profilePicContainer_div){
	display: inline-block;
    vertical-align: top;
    width: 50px;
}

:local(.profilePic_div){
	width: 45px;
    height: 45px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(112, 204, 244);
    left: 25px;
}

:local(.profileDetails_div){
	display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    height: 45px;
    /* width: calc(100% - 10px - 45px); */
    position: relative;
    width: calc(300px - 50px - 10px - 20px - 2px);
}

local:(.profileOwnerName_div){
	display: inline;
    right: 25%;
    height: 25px;
    font-size: 2.5rem;
    vertical-align: top;
    line-height: 25px;
}

local:(.followingContainer_div){
	height: 20px;
    padding-left: 2px;
}

:local(.followingStats_div){
	display: inline-block;
    height: 100%;
    vertical-align: top;
}

:local(.followingHeader_div){
	display: inline-block;
    height: 100%;
    color: #656565;
    text-align: left;
    font-size: 1.3rem;
    line-height: 20px;
    vertical-align: top;
}

:local(.followingValue_div){
	display: inline-block;
    color: #4a4a4a;
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    padding-left: 12px;
    line-height: 20px;
    height: 100%;
    vertical-align: top;
}

:local(.followingBtn_div){
	display: inline-block;
    width: 26px;
    height: 26px;
    margin-top: -3px;
    vertical-align: top;
    right: 0px;
    float: right;
    margin-right: 10px;
}

:local(.metricGraphContainer_div){    
    --tolerance-background-color: #5050501a;
    --tolerance-border: dashed 1px #4a4a4a;
    /*border-top: 20px none rgb(218, 218, 218);
    border-right-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 20px;
    border-right-color: rgb(218, 218, 218);
    border-bottom-color: rgb(218, 218, 218);
    border-left-color: rgb(218, 218, 218);*/
    position: relative;
}

:local(.bodyDiagramContainer_div){
    position: absolute;
    bottom: 0px;
    --body-height: calc((100vh - 80px - 165px - 20px - 6px - 45px)*0.5);
    height: var(--body-height);
    width: calc(var(--body-height)/1.2);
    left: calc(150px - var(--body-height)/1.2/2);
}

:local(.metricMatch_div){    
    --metric-match-height: 100px;
    height: var(--metric-match-height);
}

:local(.metricMatchLPanel_div){
    display: inline-block;
    width: calc(13vh + 9px);
    vertical-align: top;
    height: 100%;
    position: relative;
}

:local(.metricMatchRPanel_div){
    composes:metricMatchLPanel_div;
    width: calc(300px - 13vh - 11px);
    text-align: center;
}

:local(.fitIcon_div){
    position: absolute;
    --match-icon-width: 70px;
    width: var(--match-icon-width);
    height: var(--match-icon-width);
    right: calc(-1*var(--match-icon-width)/2);
    top: calc((100% - var(--match-icon-width))/2);
    border-radius: calc(var( --match-icon-width)/2);
    background-color: #fdd835;
    color: black;
    line-height: var(--match-icon-width);
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Roboto;
    letter-spacing: 0.08rem;
}

:local(.comparisonTypeIconContainer_div){
    width: calc(var(--metric-match-height)/2);
    height: calc(var(--metric-match-height)/2 - 10px);
    margin: auto;
    margin-top: calc(var(--metric-match-height)/2);
    text-align: center;
    margin-bottom: 10px;
}

:local(.comparisonTypeIcon_div){
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

:local(.toleranceBoundsMin_div){
    display: none;
    position: absolute;
    height: 100%;
    width: 25%;
    border-right: var(--tolerance-border);
    top: 0px;
    background-color: var(--tolerance-background-color);
}

:local(.toleranceBoundsMax_div){
    composes:toleranceBoundsMin_div;
    left:75%;
    border-right: unset;
    border-left: var(--tolerance-border);
}