:local(.outfitContainer) {
	height: 53px;	
	/*display: grid;*/
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-template-areas: 
		"size type image image"
}

:local(.stdOutfitBlock){
	composes:stdBlock from './root.css';
	/*display:inline-block;*/
	/*margin-bottom: 2px;*/
	position:relative;
	width:200px;
	height:calc(200px * 3/2);
	margin:auto;
	margin-top: 25px;
	/*margin-right: 20px;*/
	/*margin-left: 20px;*/
	border-radius: 2px;
    border-width: 1px;
    border-color: #212121;
    /*border-style: solid;*/
	font-size: 80%;
	/*background-color: #171717;*/
	vertical-align: top;
	padding:0px;
}

:local(.outfitMenuBlock){
}

:local(.Outfit__div--selected){
	composes:stdOutfitBlock;
	border-style: solid;
	border-color: var(--entity-selected-border-color);
}

:local(.addOutfitButton){
	composes:stdOutfitBlock;
	background-color: #00BCD4;
	border-width: 0px;
	width: 30px;
	height: 50px;
    vertical-align: top;
}

:local(.outfitTileCtrlContainer){
    background-color: #21212193;
    position: relative;
    height: 100px;
    top: calc((200px * 3/2) - 100px);
    overflow: hidden;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display:none;
}

:local(.outfitTileMask){
    background-color: #ffffff9e;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;	
}

:local(.outfitCtrlUserProfile__div){

}

:local(.outfitSizeBlock) {
	composes: stdOutfitBlock;
	grid-area: size;
}

:local(.outfitTypeBlock) {
	composes: stdOutfitBlock;
	grid-area: type;
}

:local(.outfitImageBlock) {
	composes: stdOutfitBlock;
	grid-area: image;
}