:local(.outfitContainer) {
	height: 53px;	
	display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-template-areas: 
		"size type image image"
}

:local(.stdOutfitBlock){
	composes:stdBlock from './root.css';
	display:inline-block;
	margin-bottom: 2px;
	margin-top: 25px;
	margin-right: 20px;
	border-radius: 6px;
    border-width: 10px;
    border-color: #212121;
    border-style: solid;
	height:175px;
	width:150px;
	font-size: 80%;
	background-color: #171717;
	vertical-align: top;
}

:local(.outfitMenuBlock){
}

:local(.addOutfitButton){
	composes:stdOutfitBlock;
	background-color: #00BCD4;
	border-width: 0px;
	width: 30px;
	height: 50px;
    vertical-align: top;
}

:local(.outfitSizeBlock) {
	composes: stdOutfitBlock;
	grid-area: size;
}

:local(.outfitTypeBlock) {
	composes: stdOutfitBlock;
	grid-area: type;
}

:local(.outfitImageBlock) {
	composes: stdOutfitBlock;
	grid-area: image;
}