:local(.outfitContainer) {
	height: 53px;	
	/*display: grid;*/
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-template-areas: 
		"size type image image"
}

:local(.stdOutfitBlock){
	composes:stdBlock from './root.css';
	/*display:inline-block;*/
	/*margin-bottom: 2px;*/
	position:relative;
	width:200px;
	height:calc(200px * 3/2);
	margin:auto;
	margin-top: 25px;
	/*margin-right: 20px;*/
	/*margin-left: 20px;*/
	border-radius: 2px;
    border-width: 1px;
    border-color: #212121;
    /*border-style: solid;*/
	font-size: 80%;
	/*background-color: #171717;*/
	vertical-align: top;
	padding:0px;
}

:local(.outfitMenuBlock){
	margin-right: -50px;
	margin-top: -25px;
}

:local(.Outfit__div--selected){
	composes:stdOutfitBlock;
	border-style: solid;
	border-color: var(--entity-selected-border-color);
}

:local(.addOutfitButton){
	composes:stdOutfitBlock;
	background-color: #00BCD4;
	border-width: 0px;
	width: 30px;
	height: 50px;
    vertical-align: top;
}

:local(.outfitMenuContainer){
    background-color: #212121c7;
    position: relative;
    height: 70px;
    top: calc((200px * 3/2) - 70px);
    overflow: hidden;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display:none;
}

:local(.outfitTileMask){
    background-color: #ffffff9e;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;	
}

:local(.outfitCtrlUserProfile__div){

}

:local(.outfitSizeBlock) {
	composes: stdOutfitBlock;
	grid-area: size;
}

:local(.outfitTypeBlock) {
	composes: stdOutfitBlock;
	grid-area: type;
}

:local(.outfitImageBlock) {
	composes: stdOutfitBlock;
	grid-area: image;
}


/*Social Statistic (Home Page)*/

:local(.SocialStatsContainerHome){
	position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #00000042;
    border-right-style: none;
    background-color: #00000005;
    padding: 10px 14px 10px 14px;
    width: 50px;
    height: calc(200px + 200px/2);
    margin-left: -50px;
}


/*Social Statistics CSS*/

:local(.SocialStatsContainer){
	position: absolute;
	width: 23px;
	height: calc(200px + 200px/2);
	margin-left: -30px;
}

:local(.socialStatsIconContainer){
	width:100%;
	height: 30px;
	position: relative;
}

:local(.socialStatsIcon){
	top: 25%;
	height: 50%;
	width: 100%;
	position: absolute;
}

/*==========TRANSITION GROUP CLASSES==========*/

/*Outfit Menu Icons*/


.outfitMenuContainer-enter{
	display: none;
	opacity: 0;
}

.outfitMenuContainer-enter-active{
	display: block;
	/*z-index:1;*/
	opacity : 1; 
	transition: all 200ms ease-in;
}

.outfitMenuContainer-exit{
	/*opacity : 1;*/
	/*margin-left: -50px;*/
}

.outfitMenuContainer-exit-active{
	display: none;
	/*z-index:-1;*/
	opacity: 0;
	transition: margin-left 100ms, opacity 100ms;
}