:local(.outfitNavContainer) {
	background-color: #fdfdfd;
	margin-bottom: 4px;
	height: 100%;	
	/*display: grid;
    grid-template-columns:  15% 1fr;
	grid-template-rows: 1fr;
	grid-gap: 5px;
	grid-template-areas: 
		"control preview"*/
}


:local(.stdOutfitNavBlock){
	composes:stdBlock from './root.css';
	background-color: #fdfdfd;
	/*display: inline;*/
	border-radius: 0px;
	height:100%;
	font-size: 70%;
	color: #000000;
}

:local(.outfitCtrlContainer) {
	composes: stdOutfitNavBlock;
	max-height: 55px;
    min-height: 40px;
    height: 5vh;
	/*grid-area: control;*/
}

:local(.previewContainer) {
	composes: stdOutfitNavBlock;
	/*grid-area: preview;*/
}

/*:local(.outfitCtrlButton){
	composes:stdBlock from './root.css';
	height: 20px;
	background-color: #1c2023;
	font-size: 80%;	
}

:local(.outfitCtrlButton):hover{
	background-color: #c27e1d;
}*/

:local(.outfitCtrlButton){
	composes:stdButton from './root.css';
	width:100%;
	height:100%;
	text-align: center;
}