
* {
	box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

html{
	height: 100%;
}

body{
	background-color: #fdfdfd;
	height: 100%;
	margin: 2.5px 0px 2.5px 0px;
	padding: 0px 0px 0px 0px;	
	overflow-y: hidden;
}

div{
	font-family: Comfortaa, cursive;
}

#root{;
}

#modalRoot{
	position: relative;
	z-index: 999;
}

.modal{	
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.stdBlock{
	--entity-selected-border-color: red;		/*Defualt border color for selected divs representing entities*/
	border-radius: 5px;
	/*background-color: #434343;*/
	padding: 3px;
	font-size: 150%;
	color: #FFFFFF;
}

.stdButton{
	composes: stdBlock;
	height: 20px;
	background-color: #1c2023;
	font-size: 80%;	
}

.stdButton:hover{
	cursor:pointer;
}

.stdButton:hover{
	background-color: #c27e1d;
}

.containerProfile{
	display: grid;
	/*grid-template-columns: auto 250px 45% 20%;*/
	grid-template-columns: 300px 24.579% 27% auto;
    grid-template-rows: calc(100vh - 80px - 40px) 40px;
    grid-gap: 0px;
    grid-template-areas: 
    	"metric itemMenu preview browse"
 		"admin admin admin admin";
	height:100%;
}

.containerBrowse{
	display: grid;
	grid-template-columns: auto;
    grid-template-rows: calc(100vh - 80px - 40px) 40px;
    grid-template-areas: "browse" "admin";
	/*grid-template-columns: auto 80%;
	grid-template-rows: calc(100vh - 80px - 40px) 40px;
	grid-gap: 5px;
	grid-template-areas:
		"metric browse"
		"admin admin";*/
}

.metricsContainer_div{
	position: absolute;
    left: 0px;
    height: calc(100vh - 80px - 40px);
    width: 300px;
    border-right-style: solid;
    border-right-width: 1px;
}

:local(.headerBlock){
	z-index: 1000;
	background-color: #212121;
	/*grid-area: nav;*/
	top: 0;
	width: 100%;
	height: 80px;
	position: fixed;
	font-size: 100%;
}

:local(.metricBlock){
	/*composes: stdBlock;*/
	border-bottom-style: none;
    border-width: 20px;
    border-color: #dadada;
    /*height: calc((100vh - 80px - 40px - 100px - 10px)/2);*/
    height: calc(.47*(100vh - 80px -165px));
    /*background-color: white;*/
	/*grid-area: metric;*/
}

:local(.previewBlock){
	composes: stdBlock;
	grid-area: preview;
	padding: 0px;
	/*background-color: rgba(28, 32, 35, 0);*/
}

:local(.itemMenuBlock){
	composes: stdBlock;
	grid-area: itemMenu;
}

:local(.outfitBlock){
	composes: stdBlock;
	margin-left: 300px;
	grid-area: browse;
}

:local(.outfitBlock_div--profileView){
	composes: outfitBlock;    
	/*overflow-y: scroll;
    overflow-x: hidden;*/
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 0px;
    margin-top: calc(5vh + 25px);
    height: calc(786px - (5vh + 25px));
    width: 400px;
    border-style: solid;
    border-color: #bdbcbc;
    border-left: none;
    border-width: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

:local(.footerBlock){
	composes: stdBlock;
	grid-area: admin;
	background-color: #fdfdfd;
	color: #212121;
    font-size: 17px;
    border-radius: 0px;
    border-top-width: 1px;
    border-top-color: #afafaf;
    border-top-style: solid;
}



