
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

* {
	box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

html{
	font-size: 10px;
	height: 100%;
}

body{

	--color1: #565656;
	--color2: #d9d9d9;	
	--color3: #a9a9a9;
	--color4: #c4edff;
	--color5: #fdd835;
	--color6: #24b0ed;
	--color7: #fdd835ad;
	--colorBorder: #c1c1c1;

	--color-generic-icon: #4f4f4f;

	background-color: #fdfdfd;
	height: 100%;
	margin: 2.5px 0px 2.5px 0px;
	padding: 0px 0px 0px 0px;	
	overflow-y: hidden;
}

div{
	font-family: Roboto, cursive;
    letter-spacing: 0.08rem;
}

h2{
	font-family: 'Archivo Black', sans-serif;
	font-size: 27px;
	margin: 0px;
}

p{
    font-family: Roboto, Comfortaa, cursive;
    font-size: 18px;
    line-height: 23px;
    word-spacing: 4px;
    margin: 0px;
}

a{
	color: inherit;
	text-decoration: none;
}

:local(.logoContainer_div){
	/*width: 100%;*/
	width:307px;
    transition: width 175ms linear;
    height: 78%;
    margin-top: 8px;
    /* display: inline-table; */
    position: absolute;
    top: 0px;
    background-color: #3b3739;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#root{
	--main-background-color:#f9f9f9;
}

#modalRoot{
	position: relative;
	z-index: 2000;
}

.pressable:hover{
	cursor: pointer;
}

.defaultCursor:hover{
	cursor: default;
}

.modal{	
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginPage_div{
	composes:modal;
	background-color: unset;
}

.stdBlock{
	--entity-selected-border-color: red;		/*Defualt border color for selected divs representing entities*/
	border-radius: 5px;
	/*background-color: #434343;*/
	padding: 3px;
	font-size: 150%;
	color: #FFFFFF;
}

.stdButton{
	composes: stdBlock;
	height: 20px;
	background-color: #1c2023;
	font-size: 80%;	
}

.stdButton{
	composes:pressable;
	--button-transition-period: 170ms;
	cursor:pointer;
}

.stdButton:hover{
	/*background-color: #c27e1d;*/
	color: #6f6f6f;
    background-color: #d8d8d8;
    transition: color var(--button-transition-period), background-color var(--button-transition-period);
}

.containerProfile{
	/*display: grid;*/
	--column-width-browse: 20%;
	--column-width-metric: 300px;
	--column-width-preview: 27%;
	--column-width-item: auto;
	background-color: var(--main-background-color);
	/*grid-template-columns: auto 250px 45% 20%;*/
	grid-template-columns: 
		var(--column-width-metric) 
		var(--column-width-browse)
		var(--column-width-preview) 
		var(--column-width-item); 
	/*grid-template-columns: 300px 28.579% 27% auto;*/
    grid-template-rows: calc(100vh - 80px - 40px) 40px;
    grid-gap: 0px;
    grid-template-areas: 
    	"metric browse preview itemmenu"
 		"admin admin admin admin";
	height:100%;
}

.containerBrowse{
	display: grid;
	background-color: var(--main-background-color);
	grid-template-columns: 300px auto;
    grid-template-rows: calc(100vh - 80px - 40px) 40px;
    grid-template-areas: "metric browse" "admin admin";
	/*grid-template-columns: auto 80%;
	grid-template-rows: calc(100vh - 80px - 40px) 40px;
	grid-gap: 5px;
	grid-template-areas:
		"metric browse"
		"admin admin";*/
}

.label{
    color: #707070;
    font-family: Roboto;
    font-size: 1.7rem;
    letter-spacing: 0.07rem;
    text-transform: capitalize;
}

.metricsContainer_div{
	position: absolute;
    left: 0px;
    height: calc(100vh - 80px - 40px);
    width: 300px;
    border-right-style: solid;
    border-right-width: 1px;
}

:local(.headerBlock){
	z-index: 1000;
	background-color: var(--main-background-color);
	/*border-bottom: solid 1px #c1c1c1;*/
	/*grid-area: nav;*/
	top: 0;
	width: 100%;
	height: 80px;
	position: fixed;
	font-size: 100%;
}

:local(.logo_svg){
	position: absolute;
    /* display: inline-block; */
    width: auto;
    height: 100%;
    margin-left: 290px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

:local(.contentContainer){
	position: relative;
	margin-right: 0px;
    width: calc(100% - 300px);
    margin-left: 300px;
    padding-left: 200px;

	position: relative;
    /*width: 65%;*/
    height: calc(100% - 40px);
    /* height: 100%; */
    /*margin: auto;
    padding-left: 350px;*/
}

:local(.controlsContianer){
	/*position: absolute;
	top: calc(25px + 5vh);
	width: 35px;
	left: calc(350px - 35px);*/

	position: absolute;
    top: calc(25px + 5vh);
    width: 45px;
    left: 200px;
    height: 270px;
    border-right: solid 1px var(--color2);
    padding-right: 5px;
}

:local(.controlsContainerTitle){    
	position: absolute;
    right: 0px;
    margin-top: 0px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    width: 175px;
    padding-left: 15px;
    border-bottom: solid 1px #d9d9d9;
}


:local(.metricBlock){
	position: absolute;
	left: 7px;
	height: calc(100vh - 80px - 40px - 8px);

	--fz-color: #ffffff;
    --nfz-color: #515151;
    --bar-fill-color: #54c2f1a8;
    --bar-border-color: #54c2f1;
    --moulding-radius:5px;
	/*composes: stdBlock;*/
	border-bottom-style: none;
    border-width: 20px;
    border-color: #dadada;
    /*height:100%;*/
    /*height: calc((100vh - 80px - 40px - 100px - 10px)/2);*/
    /*height: calc(.47*(100vh - 80px -165px));*/
    /*background-color: white;*/
	/*grid-area: metric;*/
	border-right-width: 1px;
    border-right-color: black;
    --x-axis-range: calc(300px - 13vh - 30px);
    /*border-right-style: solid;*/
}

:local(.titleContainer_div){
	border: solid 1px var(--colorBorder);
    background-color: white;
    border-radius: 5px;
}

:local(.metricContainer_div){
	--comp-icon-fill:var(--color-generic-icon);
	position:relative;
	/*height: calc(100% - 16px + 40px);*/
    border-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    margin-top: 8px;
    left: 0px
}

:local(.points_div){
	font-size: 55px;
    font-family: 'Archivo Black';
    left: calc(300px/4);
    text-align: center;
    height: 55px;
    line-height: 55px;
    color: #3b3739;
    margin-top: 27px;
}

.metricContainer_div-enter{
	composes:metricContainer_div;
	left:-300px;
}

.metricContainer_div-enter-active{
	left: 0px;
	transition: left 150ms ease-in;
}

.metricContainer_div-exit{
	left: 0px;
}

.metricContainer_div-exit-active{
	left:-300px;
	transition: left 150ms ease-out;
}


:local(.previewBlock){
	composes: stdBlock;
	/*grid-area: preview;*/
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	height: calc(100% - 80px);
	/*background-color: rgba(28, 32, 35, 0);*/
}

:local(.itemMenuBlock){
	composes: stdBlock;
	grid-area: itemMenu;
}

:local(.outfitBlock){
	composes: stdBlock;
	/*margin-left: 300px;*/
	grid-area: browse;
}

:local(.outfitBlock_div--profileView){
	composes: outfitBlock;    
	/*overflow-y: scroll;
    overflow-x: hidden;*/
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 0px;
    /*margin-top: calc(5vh + 25px);*/
    /*height: calc(786px - (5vh + 25px));*/
    width: 400px;
    border-style: solid;
    border-color: #bdbcbc;
    background-color: white;
    border-left: none;
    border-width: 1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

:local(.footerBlock){
	composes: stdBlock;
	/*grid-area: admin;
	background-color: #fdfdfd;
	color: #212121;
    font-size: 17px;
    border-radius: 0px;
    border-top-width: 1px;
    border-top-color: #afafaf;
    border-top-style: solid;*/
	grid-area: admin;
    background-color: #fdfdfd;
    color: #212121;
    font-size: 17px;
    border-radius: 0px;
    border-top-width: 1px;
    border-top-color: #afafaf;
    /* border-top-style: solid; */
    background-color: #f9f9f9;
    text-align: left;
    line-height: 40px;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: .1rem;
    color: #6d6d6d;
	padding-left: 20px;
    padding-right: 20px;
    margin-left: 300px;
}

/*CSS styles for landing page port divs*/

:local(.portalCotnainer_div):hover{
	cursor: default;
}

:local(.portalContainer_div){
    width: 100%;
    margin: auto;
	position: relative;
    height: 200px;
    margin-bottom: 50px;
    margin-left:50px;
}

:local(.portalMask_div){
	z-index: 1;
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
	background-color: #2121218a;
}

:local(.portalGraphicContainer_div){
	display: inline-block;
	position: relative;
	vertical-align: top;
    width: 200px;
    height: 100%;
    border: solid 2px #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

:local(.portalContentContainer_div){
	position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    height: 100%;
    width: calc(100% - 200px - 30px - 50px - 30px);
    cursor: default;
}

:local(.portalHeader_div){
	height:36px;
	color: #ffffff;
    text-align: left;
    margin-bottom: 5px;
}

:local(.portalDescription_div){
	height: 69px;
	color: white;
    text-align: left;
}

:local(.signupBtnContainer_div){
	text-align: center;
    margin-top: 25px;
    padding-right: 20px;
    color: white;
}

/*:local(.signupBtn_div){
	color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}*/

:local(.signupBtn_div){
	position: absolute;
	right: 29px;
	bottom: 0px;
	padding: 10px;
	border: solid 3px #86868666;
	border-radius: 3px;
	cursor: pointer;
}

:local(.signupBtnText_div){
	font-family: sans-serif;
	letter-spacing: 1px;
	color: white;
	line-height:  16px;
	height:  16px;
	font-size: 16px;
	text-align: center;
}

:local(.infoLinkContainer_div){
	position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 100%;
    padding-top: calc(150px/2 - 12.5px);
    margin-left: 10px;
}

:local(.infoLink_div){
	color: white;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
}


/*.centerArea:before{
	content:'';
	display: inline-block;
	vertical-align: middle;
	vertical-align: middle;
	height: 100%;
}
.centerArea{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}*/


