@import "root";

:local(.contentListContainer) {
	composes:stdBlock from './root.scss';
    position: relative;
	display:inline-block;
	font-size: 80%;
	vertical-align: top;
    text-align: center;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop_rules {  
        width: 200px;
        --clc-height: 20px;
        height: var(--clc-height);
        margin-left: -400px;
    }

    @include mobile_rules {
        width: 100%;
        /*height: 40px;*/
        height: 20px;
    }
}

:local(.stdCotnentBulletContainer_div){
    /*display: inline-block;
    vertical-align: top;*/
    height: 100%;
    /*text-align: center;*/

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop_rules {
        width: 20px;
    }

    @include mobile_rules {
        /*width: 7%;*/
        width: 100%;
    }
}

:local(.cropIndicator_div){
    display: flex;
    top: 0px;
    --crop-ind-diameter: 2rem;
    border-radius: calc(.5*var(--crop-ind-diameter));
    width: var(--crop-ind-diameter);
    border: dashed 2px var( --color-05-tint-01);
    justify-content: center;
    align-items: center;
    height: var(--crop-ind-diameter);
    /*animation: 1s linear infinite run;*/

    @include desktop_rules {
    }

    @include mobile_rules {
    }    
}

:local(.stdContentBullet_div){
    composes:pressable from "./root.scss";
    display: inline-block;
    --dot-height: 10px;
    border-radius: calc(var(--dot-height)/2);
    height: var(--dot-height);
    width: var(--dot-height);
    background-color: var(--color-01);

    @include desktop_rules { 
        margin-top: calc((var(--clc-height) - var(--dot-height))/2);
        vertical-align: top;
    }

    @include mobile_rules {
        /*margin-top: calc(15px - 5px);*/
        /*margin-top: 5px;*/
        vertical-align: top;
    }
}

:local(.contentBullet_div--selected){
    composes:stdContentBullet_div;
    background-color: var(--color-01-tint-02);
    /*height:15px;
    width:15px;
    margin-top: calc(34px - 7.5px);*/
}

:local(.stdContentBulletCover_div){
    composes:stdContentBullet_div;
    /*border-radius: 5px;
    background-color: #4a4547;*/
}

:local(.contentBulletCover_div--selected){
    composes:stdContentBulletCover_div;
    border-radius: 5px;
    /*height:15px;
    width:15px;
    margin-top: calc(34px - 7.5px);
    border-radius: 7.5px;*/
}

:local(.stdContentBlock){
	composes:stdBlock from './root.scss';	
	display:inline-flex;
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    margin: auto 3% 3% 3%;
    border-style: solid;
    border-width: 1px;
    border-color: #212121;
    border-radius: 5px;
    font:black;

    top: calc(50% - 50px/2);
    position: relative;
    overflow: hidden;
}

:local(.selectedContentBlock){
	composes:stdContentBlock;
	border-color: var(--entity-selected-border-color);
}

:local(.contenttMenuBlock){

}

/*:local(.addContentButton){
	composes:stdButton from './root.scss';
    position: absolute;
    display: inline-flex;
    margin-left: calc(-75px);
	border-width: 0px;
    border-style: solid;
    /*border-color: #212121;*/
    /*border-radius: 5px;
    font:black;
    width: 50px;
    height: 50px;
    overflow: hidden;
}*/

:local(.addContentBtn_div){
    position: relative;
    display: inline-flex;
    /* margin-left: calc(-75px); */
    border-width: 0px;
    border-style: solid;
    /* border-color: #212121; */
    border-radius: 5px;
    font: black;
    width: 50px;
    margin-top: 10px;
    height: 50px;
    /* top: calc(100% - 50%/2); */
    overflow: hidden;
}

:local(.addContentBtnContainer_div){
    composes:pressable from "./root.scss";
}

:local(.deleteContentBtn_div){
    composes:addContentBtn_div;
    width: 55%;
    height: 55%;
    margin: auto;
    margin-top: calc(50% - 55%/2);
}