@import "root";


:local(.inputTextContainer_div){
	/*text-align: center;
	margin: auto;
	margin-top: 15px;
	border-radius:  4px;
    border-width:  1px;
    border-color: #434343;
    border-style:  solid;
    width: 60;*/
    display: inline-block;
    text-align: left;
    height: inherit;

    @include desktop_rules {
    	width: 60%;
	}

	@include mobile_rules { 
		width: 90%;
	}
}

:local(.termsTextContainer_div){
	composes: inputTextContainer_div;

	@include desktop_rules {
	}

	@include mobile_rules {
		width: 75%
	}
}

:local(.inputText_input){
	width: 100%;
	text-align: center;
	outline: currentcolor none medium;
	height: inherit;
	border-style: solid;
	border-radius: 3px;
	line-height: 20px;
	padding-left: 20px;    
	color: #263238;

    @include desktop_rules {
    	font-size: 16px;
    	border-style: solid;
    	border-color: var(--color-mobile-icong-bg);
    	border-width: 1px;
	}

	@include mobile_rules {
		font-size: 20px;
		border-style: solid;
		border-color: var(--color2);
		border-width: 2px;
	}
}

:local(.inputText_input--selected){
	composes: inputText_input;

	@include desktop_rules {
		/*border-color: white;*/
	}

	@include mobile_rules {
		border-color:  var(--color-mobile-icong-bg);
	}
}

.inputText_input:focus{
	outline: none;
}

:local(.inputAcceptTermsContainer_div){
	position: relative;
	display: inline-block;	
	width: 50px;	
	height: inherit;

	@include desktop_rules {
	}

	@include mobile_rules {
		display: none;
	}
}

:local(.inputAcceptTerms_div){
	height: inherit;
	text-decoration: center;
}

:local(.inputAcceptTerms_checkbox){
	position: relative;
	display: inline-block;	
	height: inherit;
	margin:	0px;

	@include desktop_rules {
		width: 30px;	
	}

	@include mobile_rules {
		width: 50px;	
	}
}

:local(.textAcceptTermsContainer_div){
	position: relative;	
	display: inline-block;	
	vertical-align: top;	
	width: calc(100% - 50px);	
	height: inherit;
}

:local(.textAcceptTerms_div){
	height: inherit;	

	@include desktop_rules {
		color: var(--color-mobile-icong-bg);
		line-height: 30px;	
		font-size: 15px;
	}

	@include mobile_rules {
		color: #263238;    
		line-height: 13px;
    	font-size: 13px;
	}
}

:local(.createAccountFormContainer_div){

    margin: auto;

	@include desktop_rules {
		width: 800px;
    	padding-left: 50px;
	}

	@include mobile_rules {
	}
}

:local(.CreateAccount_div){

	height: 100vh;
   	width: 100%;
   	margin-top: 80px;
   	padding-top: 80px;

	@include desktop_rules {
   		background-color: var(--main-background-color);
	}

	@include mobile_rules {

	}
}

:local(.accountFormContainer_div){
	/*font-family: Roboto, sans-serif;*/
	height: 275px;	

	@include desktop_rules {
		width: 550px;	
		margin-left: 135px;
	}

	@include mobile_rules {
		width: 80%;
		margin: auto;
	}
}

:local(.inputContainer_div){
	margin-top: 25px;
	width: 100%;
	height: 37px;

	@include desktop_rules {
	}

	@include mobile_rules {
		/*margin-top: 35px;
    	padding-left: 15px;
    	padding-right: 15px;
    	width: 100vw;
    	position: fixed;
    	left: 0px;
    	bottom: 0px;
    	height: 80px;*/
	}
}

:local(.submitContainer_div){
	margin-top: 35px;

	@include desktop_rules {
		height: 30px;
	}

	@include mobile_rules {
    	padding-left: 15px;
    	padding-right: 15px;
    	width: 100vw;
    	position: fixed;
    	left: 0px;
    	bottom: 0px;
    	height: 80px;
	}
}

:local(.formContent_div){
	margin: auto;
}

:local(.validatorIconContainer_div){
	display: inline-block;
	vertical-align: top;
	position: relative;	
	height: inherit;

	@include desktop_rules {	
		width: 20%;	
	}

	@include mobile_rules {
		width: 10%;    	
	}
}

:local(.validatorIcon_div){
	position: absolute;
	color: white;	
	margin-left: 10%;	
	width: 30px;	
	/*border: solid 1px #6dd7b4;	
	border-radius: 10px;*/	
	height: 30px;	
	/*background-color: #6dd7b4;*/
	top: calc(50% - 15px);
}

:local(.submitBtnContainer1_div){
	composes: validatorIconContainer_div;

	@include desktop_rules {
	}

	@include mobile_rules {
		width: 25%;
	}
}

:local(.submitBtnContainer_div){
	border-radius: 5px;	

	@include desktop_rules {
		margin-left: 20px;	
		background-color: rgb(47, 47, 47);		
		color: rgb(255, 255, 255);
		height: inherit;
		border: solid 3px #494949;		
		width: 80px;	
	}

	@include mobile_rules {
    	font-family: Roboto;
    	font-size: 16px;
    	height: 25px;
    	line-height: 25px;
    	padding: 0px;
    	width: auto;
    	padding-left: 7.5px;
    	padding-right: 7.5px;
    	background-color: var(--color-mobile-icong-bg);
    	color: #fdfdfd;
    	border: solid 1px var(--color-mobile-icong-bg);
	}
}

:local(.submitBtn_div){
	text-align: center;
	height: inherit;
	line-height: 24px;
	cursor: pointer;
}

:local(.invalidInputPromptContainer_div){
	padding-top: 10px;
	height: auto;
	display: inline-block;

	@include desktop_rules {
		/*height: 100px;*/
		width: 60%;
	}

	@include mobile_rules {
		width: 90%;
	}
}

:local(.invalidInputPrompt_div){
    position: relative;
    color: #ca0e00;
    text-align: left;
    width: auto;
    float: right;
    border-radius: 4px;
    border: solid 2px var(--color-password-req);
    background-color: var(--color-password-req);
    padding: 6px;
    transition: height 100ms linear;
    margin-bottom: 25px;
    padding-top: 17px;
}

:local(.invalidMessageContainer_div){

	@include desktop_rules {
		height: 15px;
	}

	@include mobile_rules {
		margin-bottom: 2px;
		height: 18px;

	}
}

:local(.invalidMessage_div){

	@include desktop_rules {
		height: inherit;
    	font-size: 12px;
    	line-height: 12px;
    	margin-top: 1.5px;
	}

	@include mobile_rules {
		height: inherit;
    	font-size: 12px;
    	line-height: 12px;
    	display: inline-block;
    	background-color: #fd357ec9;
    	border-radius: 3px;
    	padding: 3px;
    	border-top-right-radius: 0px;
    	color: white;
	}
}