@use "sass:map";
@import "root";

$loginFormPadding: 17px;
$loginFormFieldSpacing: 17px;

input{
	border: 0px;
    height: 100%;
    text-align: center;
    /*color: #525252;*/
    color:#fdfdfd;
    /*background-color: #aab7bd;*/
    width: 100%;
    font-family: Roboto, cursive;
    letter-spacing: 0.1rem;
}

input::placeholder {
	/*color: #fdfdfd50;
  	font-size: 1.2em;*/
	font-family: Roboto, cursive;

    color: #999999;
    font-size: 14px;
    text-align: left;
}

.inputTextContainer_div input::placeholder {
    @include desktop_rules {
        color: white;
    }

    @include mobile_rules {
        color: var(--color2);
    }
}

.inputNumber_div input::placeholder {
    display: none
}

.stdFormInput{
	border-radius: 2px;
    padding: 7px;
    /*background-color: var(--user-dd-field-color);*/
    color: white;
    height: 45px;


    @include desktop_rules {
        margin: 5px;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 17px;
    }

    @include mobile_rules {
    }
}

/*
======Photo Upload Form Styles======
*/
:local(.formContentContainer) {
	/*display: grid;
	grid-template-columns: 18% 1fr;
	grid-template-rows: 0px 100%;
	grid-gap: 1px;
	grid-template-areas: 
		". control"
		". addOutfit";*/
	height:100%;
}

:local(.stdFormBlk){
	composes:stdBlock from './root.scss';
	display: inline;
	border-radius: 2px;
	height: 20px;
	font-size: 70%;
	color: white;
}

:local(.imageUploadPreviewContainer_div){

    @include desktop_rules {
        height: 100%;
    }

    @include mobile_rules {
        /*height: calc(100% - 40px);*/
        height: calc(100% - 20px);
        padding-top: 20px;
    }
}

:local(.imageUploadPreview) {
	/*composes: stdFormBlk;*/
	display: block;
	height: 100%;
    padding: 0px;
	/*grid-area: addOutfit;
	border-radius: 0px;
	border-left-style: solid;
	border-left-width: 1px;
	background-color: #212121;*/
	/*height: 100%;*/
}

:local(.imgFormControlStyle){
    composes: pressable from "./root.scss";
	display: inline-block;
	margin-right: 5%;
	margin-top: calc((5vh + 25px) / 4);
    width: 7%;
    height: 40px;
    /*background-color: #eeeeee;
    border-style: solid;*/
    border-width: 1px;
    border-color: #888888;
    border-radius: 5px;
    color:black;
    text-align:center;
    font-size:70%;
}

:local(.previewImageContainer_div){
    position: relative;

    @include desktop_rules {
        max-height: 100%;
        height: 100%;
        width: auto;
        /*padding-top: calc(5vh + 25px);*/
        padding-top: var(--pic-padding-top);
    }

    @include mobile_rules {
        /*padding-top: 40px;*/
        padding-top: 0px;
        width: 100vw;
        height: calc(100vw / var(--img-aspect-ratio));
    }
}

:local(.image_img){
    
    height: 100%;
    display: block;
    animation: imgFadeIn 400ms;

    @include desktop_rules {
        /*padding-top: calc(5vh + 25px);*/
        /*max-width: calc((100vh - 200px) * var(--img-aspect-ratio));*/
       /*border-radius: 4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;*/
        float: right;
        object-fit: contain;
/*mark*/
        object-fit: cover;
        object-position: top;
    }

    @include mobile_rules {
        height: 100%;
        /*max-width: calc((100vh - 80px - 40px - 40px)*var(--img-aspect-ratio));*/
        display: block;
        border-radius: 4px;
        margin: auto;

        width: auto;
        max-width: 100%;
        object-fit: cover;
    }
}

:local(.itemLocationMapContainer_div){
    position: absolute;
    /*height: 100%;*/
    /*max-height: calc(100vh - 200px - 5vh - 25px - 2vh - 6px);*/
    width: 100%;
    text-align: center;
    top: 0px;
    left: 0px;

    @include desktop_rules {
        margin-top: calc(5vh + 25px);
        height: 100%;
/*mark*/
        margin-top: 0px;
        /*max-height: unset;*/
        max-height: 100%;
        max-width: unset;
        height: var(--img-preview-modal-height);
        height: 100%;
    }

    @include mobile_rules {
        display: flex;
        height: 100%;

        margin-top: 40px;
        /*--max-width: calc((100vh - 80px - 40px - 40px)*var(--img-aspect-ratio));
        max-height: calc(100vh - 80px - 40px - 40px);*/
        /*expiremental*/
        height:100%;
        margin-top: 0px;
    }
}

:local(.itemLocationMapContainerPreview_div){
    composes:itemLocationMapContainer_div;
    margin-top: 0px;
}

:local(.itemMapSvgContainer_div){    
    /*height: 100%;
    width: calc(( 100vh - 200px - 7vh  - 25px - 6px) * var(--img-aspect-ratio));
    max-height: calc(100% * 1/var(--img-aspect-ratio));*/
    margin: auto;
    background-color: #e91e6300;

    @include desktop_rules {
        /*max-height: calc(100vh - 200px - 80px );*/
        height: 100%;
        width: 100%;
        max-height: unset;
        float: right;
    }

    @include mobile_rules {
        width: 100vw;
        height: calc(100vw / var(--img-aspect-ratio));

        /*max-height: calc(150%);
        max-width: calc((((100vh - 80px) - 40px) - 40px) * var(--img-aspect-ratio));*/
        background-color: rgba(233, 30, 99, 0);
        margin: auto;
    }
}

:local(.contentListContainer_div){
    text-align: center;

    @include desktop_rules {
        float: right;
    }

    @include mobile_rules {
        height: 20px;
        height: var(--clc-mobile-height);
        /*width: 100%;*/
        width: 100vw;
        /*background-color: #f9f9f9;*/
        background-color: unset;
        /*margin: auto;*/
    }
}

:local(.outfitFormControl){
	composes: stdFormBlk;
	grid-area: control;
}


/*
======Login Form Styles======
*/
/*:local(.formViewContainer_div){
    --retailer-dd-field-color: #4e4e4e;
    --user-dd-field-color: #4e4e4e;
    --form-lr-padding: 27px;
    position: relative;
    overflow: hidden;
    background-color: #fdfdfd;
    padding-top: 10px;
    padding-bottom: 10px;   
    border-radius: 3px;
    width: 600px;
    height: 780px;
    --form-view-width: calc(100% - 20px);
}*/

.formViewContainer_div{
    --retailer-dd-field-color: #4e4e4e;
    --user-dd-field-color: #4e4e4e;
    --form-lr-padding: 27px;
    padding-top: 10px;
    padding-bottom: 10px;   
    --form-view-width: calc(100% - 20px);

    @include desktop_rules {
        overflow: hidden;
        /*width: 600px;*/
        width: calc(100% - 400px);
        height: 780px;
        margin: auto;
        border-right: solid 1px #d9d9d9;
        height: 100%;
        background-color: #f9f9f9;

        position: absolute;
        top: 0px;
        /*left: calc(50% - 600px/2);*/
        left: 0px;
        opacity: 0;
        transition: opacity 200ms linear;
    }

    @include mobile_rules {
        overflow: visible;
        background-color: #fdfdfd;
        /*height: calc(100vh - #{$pageHeaderHeight});*/
        height: inherit;
        width: 100%;
        position: absolute;
        top: 0px;
        width: 100vw;
        z-index: 100;
    }
}

.formViewContainer_div-enter{
    width: 0px;
    height: 0px;
}

.formViewContainer_div-enter-active{
    width: 600px;
    height: 780px;
    transition: width 200ms ease-in, height 200ms ease-in;
}

.formViewContainer_div-exit{    
    width: 600px;
    height: 780px;
}

.formViewContainer_div-exit-active{
    width: 0px;
    height: 0px;
    transition: width 200ms ease-out, height 200ms ease-out;
}

.loginFormViewContainer_div{
    background-color: #fdfdfd;
    padding: 10px;
    border-radius: 3px;
    --user-dd-field-color: #4c4c4c;

    @include desktop_rules {
    }

    @include mobile_rules {
        position: absolute;
        top: 100px;
    }
}

.discardFormViewContainer_div{
    background-color: rgb(253, 253, 253);
    padding: 10px;
    border-radius: 3px;
    width: 25%;
    min-width: 340px;

    @include desktop_rules {
    }

    @include mobile_rules {
        /*position: absolute;
        bottom: 80px;*/
    }
}

:local(.control){
    text-transform: uppercase;
}

:local(.selectable){    
    composes:control;
    --selectable-height: 35px;
    --selectable-width: 90px;
    width: var(--selectable-width);
    height:  var(--selectable-height);
    cursor: pointer;
}

:local(.submittable){
    composes:selectable;
    --submittable-border-radius: 4px;
    --submittable-border-width: 1px;
    background-color: #f1f1f1;
    border: solid var(--submittable-border-width) #888888;
    color: #888888;
    letter-spacing: 0.05rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: calc(var(--selectable-height) - 2*var(--submittable-border-width));
    padding: 0px;
    border-radius: var(--submittable-border-radius);

    font-weight: unset;
    color: #4b4b4b;
}

:local(.bangTab_div){
    composes:selectable;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    line-height: 25px;
    font-size: 1.1rem;
    color: gray;
    width: 50%;
    transition: font-size 100ms;
}

:local(.bangTab_div--selected){
    composes:bangTab_div;
    /*font-size: 1.4rem;*/
    transition: font-size 100ms;
    font-weight: bold;
    color: black;
}

.l1Button_div{
    composes:submittable;
    display: inline-block;
    border: none;
    background-color: #fdfdfd;
    font-size: 1.1rem;
    position: absolute;
    right: 0px
}

.l1Button_div:hover{
    color: black;
    transition: color 170ms;
}

:local(.cancelSelection_div){
    position: relative;
    width: 100%;
    height: 35px;
}

/* resendEmailMessage_container_div */
:local(.rem_container_div){
    max-width: 300px;
    padding: 17px;
    margin-top: 68px;
}

:local(.rem_div){
    font-size: 1.4rem;
    letter-spacing: .08rem;
    line-height: 2.1rem;
}

:local(.loginForm){
	left:auto;
	right:auto;
	width:300px;
	background-color:rgba(0,0,0,0);
	color:white;
	padding-top: 0px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    padding: 0px;
}

:local(.addItemForm){
    border-radius: 2px;
    border-color: #212121;
    border-width: 1px;
    width: 100%;
    /*position: absolute;*/
    
    @include desktop_rules {
        padding-left:var(--form-lr-padding);
        padding-right:var(--form-lr-padding);
    }

    @include mobile_rules {
        padding: 0px;
    }
}

:local(.nameFieldContainer_div){
    position: relative;

    @include desktop_rules {
    }

    @include mobile_rules {
        width: 90vw;
        margin: auto;
        margin-top: 15px
    }
}

:local(#itemDropDownButton_div){
    position: absolute;
    top: 10px;
    right: 0px;
    /*width: 56px;
    height: 56px;
    background-color: gray;
    color: white;
    font-size: 4.8em;
    display: flex;
    align-items: center;
    justify-content: center;*/
}

:local(.nameField){
	composes:stdFormInput;
	text-align: right;
    text-transform: capitalize;
    margin: unset;
    margin-top: 17px;

    @include desktop_rules {
        margin-bottom: 17px;
    }

    @include mobile_rules {
       /* margin: unset;*/
    }
}

:local(.passwordField){
	composes:stdFormInput;
	text-align:right;
}

:local(.addItemCtrlContainer_div){ 
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    margin-left: var(--form-lr-padding);
    width: calc(100% - 2*var(--form-lr-padding));
}

:local(.addItem_div){
    text-align: left;

    @include desktop_rules {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 17px;
    }

    @include mobile_rules {
       margin-top: 40px;
    }
}

:local(.l3Button){
	composes:stdButton from './root.scss';
    composes:submittable; 
    text-transform: unset;
}

:local(.formL3Button){
    composes:l3Button;     
    /*margin-left: calc(100% - 17px - 90px);
    margin-top: 17px;*/
}

:local(.dropDownContainer){
    /*display: block;*/
    border-style: solid;
    border-width: 2px;
	border-color: #e6e6e6;
    overflow-y: scroll;
    transition: height 200ms;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #f1f1f1;

    @include desktop_rules {
        height: calc(100vh - 50px - (4*(10px + 57px)) - 7px - 20px - 64px);
    }

    @include mobile_rules {
        width: 100%;
        margin: unset;
        height: calc(50vh - #{$pageHeaderHeight});
    }
}

:local(.dropDownContainer--hidden){
    /*display: none;*/
    border: solid 0px #aab7bd;
    overflow: hidden;
    height: 0px;
    transition: height 200ms;

    @include desktop_rules {
    }

    @include mobile_rules {
    }
}

:local(.dropdownItemContainer){
	margin-top: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 26px;
    height: 30px;
    border-bottom-left-radius: 5px;
}

.dropdownItemContainer:hover{
	background-color: #f1f1f1;
    transition: background-color 75ms;
}


:local(.editProfilePic_div){
    background-color: white;
    border-radius: 4px;
    --ctrls-height: 48px;
    --picture-height: calc(100% - 2*var(--ctrls-height));

    @include desktop_rules {
        width: 500px;
        height: 500px;
    }

    @include mobile_rules {
        width: 90%;
        height: 75%;
    }
}


:local(.eppHeader_div){
    /*padding-left: 10px;*/
    height: var(--ctrls-height);
    /*line-height: 24px;
    font-size: 14px;*/
    display: flex;
    justify-content: flex-end;
    /*color: var(--color-mobile-icon-bg);*/

}

:local(.eppPicture_div){
    height: var(--picture-height);
    width: 100%;
    /*text-align: center;*/
    /*background-color: var(--color-mobile-icon-bg);*/
    background-color: var(--color-01-shade-02);
    /*background-color: #b2b2b2;*/
    
    @include desktop_rules {
        position: relative;
    }

    @include mobile_rules {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

:local(.editProfilePicCtrls_div){
    //height: var(--ctrls-height);
    height: auto;
    width: 100%;
    overflow: hidden;
}

.buttonHorizontalSlider_div{
    --eepControlsTransitionPeriod: 200ms;
    display: flex;
    justify-content: space-evenly;
    height: inherit;
    width: 200%;
    text-align: center;
    white-space: nowrap;
    transition: transform 200ms cubic-bezier(.86,0,.07,1), opacity 200ms linear;
}

:local(.eppDisplayedControls_div){
    /*display: inline-block;*/
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    transition: opacity var(--eepControlsTransitionPeriod);
}



:local(.eppCtrl_div){
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    width: 48%;
    height: inherit;
    line-height: 40px;
}


:local(.controlContainerStyle){
    position: relative;
    height:  calc(5vh + 25px);
    width: 75%;
    float: right;    

    @include desktop_rules {
        display: inline-flex;
        display: none;
    }

    @include mobile_rules {
        display: none;
    }
}

:local(.imgEditAndCtrlContainer_div){
    text-align: center;

    @include desktop_rules {
         /*height: calc(100% - 80px);*/
         height: calc(100%);
    }

    @include mobile_rules {
         height: 100%;
    }
}

:local(.imgEditContainer_div){
    position: relative;
    /*width: auto;*/
    /*width: auto;*/
    height: 100%;
    text-align: center;
    max-height: 100%;

    @include desktop_rules {
        width: 100%;
        background-color: #39372f;
        /*float: right;*/
    }

    @include mobile_rules {
        width: 100vw;
        /*background-color: #f9f9f9;*/
    }
}

:local(.imgEditControls_div){
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include desktop_rules {
        left: 275px;
        text-align: center; 

        width: var(--ie-ctrl-width);
        left: calc(-1*var(--ie-ctrl-width)); 
        --ie-ctrl-width: calc(75vw - 0.75*var(--img-preview-modal-height) - 400px);     
        height: auto;
        width: 300px;        
        //border-bottom: solid 1px var(--color2);
        margin-top: 7px;

        right:0px;
        left: unset;
        width: 400px;
    }

    @include mobile_rules {
        text-align: center;
        bottom: 0px;
        width: 100vw;
        left: 0px;
        height: var(--mobile-footer-height);
        text-align: left;
        /*padding-top: 7.5px*/
    }
}

:local(.imgEdit_img){

    height: 100%;
    display: block;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    @include desktop_rules {
        object-fit: contain;
        /*max-width: calc((100vh - 200px) * var(--img-aspect-ratio));*/        
        float: right;
    }

    @include mobile_rules {
        margin: auto;
        max-width: 100vw;
        object-fit: contain;

    }
}

:local(.outfitPreview_div){
    --top-margin: 70px;
    --img-preview-modal-height: calc(100vh - 7px - 20px);
    --modal-left-adj: 0px;
    background-color: #F9F9F9;
    position: absolute;
    box-shadow: 0px 0px 10px 0px #0000;

    @include desktop_rules {
        margin-left: var(--modal-left-adj);
        border-radius: 7px;
        text-align: right;
        /*width: 75%;*/
        width: auto;
        height: calc(var(--img-preview-modal-height));
        /*left: 307px;*/
        /*top: var(--top-margin);*/
        top: 7px;
    }

    @include mobile_rules {
        border-radius: 0px;
        text-align: left;
        /*height: 100vh;*/
        height: 100%;
        width: 185vw;
        left: 0px;
        /* left: 0px; */
        top: 0px;
        transition: transform 200ms ease-out;
        border-radius: 0px;
        transform: translateX(85vw);
        transform: translateX(0px);
    }
}


.retailerItemFormContainer{
    position: absolute;
    width: var(--form-view-width);
}

.retailerItemFormContainer-enter{
    right: calc(200% - var(--form-view-width));
    opacity: 0;
}

.retailerItemFormContainer-enter-active{
    opacity: 1;
    right: 0px;
    transition: opacity 200ms ease-in-out, right 400ms ease-in-out;
}

.retailerItemFormContainer-exit{
    opacity: 1;
    right: 0px;
}

.retailerItemFormContainer-exit-active{
    opacity: 0;
    right: calc(200% - var(--form-view-width));
    transition: opacity 200ms ease-in-out, right 400ms ease-in-out;
}


.userItemFormContainer{
    position: absolute;
    width: var(--form-view-width);
}

.userItemFormContainer-enter{
    opacity: 0;
    right: calc(-1*var(--form-view-width));
}

.userItemFormContainer-enter-active{
    opacity: 1;
    right: 0px;
    transition: opacity 200ms ease-in-out, right 400ms ease-in-out;
}

.userItemFormContainer-exit{
    opacity: 1;
    right: 0px;
}

.userItemFormContainer-exit-active{
    opacity: 0;
    right: calc(-1*var(--form-view-width));
    transition: opacity 200ms ease-in-out, right 400ms ease-in-out;
}

:local(.formText){
    font-weight: bold;
    font-family: Roboto;
    letter-spacing: 0.05rem;
    color:#6b6b6b;

    @include desktop_rules {
        font-size: 15px;
    }

    @include mobile_rules {
    }
}

:local(.ddItemSlot_div){;
    --dd-item-title: 30px;
    margin-top: 10px;
    cursor: pointer;

    @include desktop_rules {
        --dd-item-slot-height: 110px;
        --dd-item-description: calc(var(--dd-item-slot-height) - var(--dd-item-title));
    }

    @include mobile_rules {
        --dd-item-slot-height: 80px;
        --dd-item-description: calc(var(--dd-item-slot-height) - var(--dd-item-title) - 3px);
    }
}

:local(.ddItemPreviewPicContainer_div){
    display: inline-block;
    width: var(--dd-item-slot-height);
    height: var(--dd-item-slot-height);
    vertical-align: top;
    position: relative;
    white-space: nowrap;
    text-align: center;
    border: solid 1px #a2a2a2;
    background-color: white;
    border-radius: 2px;
}

/* class for pseudo-element that aids in centering picture with unknown parent height */
.ddItemPreviewPicContainer_div:before{
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

:local(.ddItemPreviewPic_div){
    display: inline-block;
    vertical-align: middle;
}

:local(.ddItemContent_div){
    display: inline-block;
    width: calc(100% - var(--dd-item-slot-height));
    padding-left: 5px;
    font-family: Roboto;
    background-color: unset;
    transition: background-color 200ms ease-in-out;
}

.ddItemContent_div:hover{
    background-color: #d2d2d2;
    transition: background-color 200ms ease-in-out;
}

:local(.ddItemTitle_div){
    composes:formText;
    height: var(--dd-item-title);
    line-height: var(--dd-item-title);
    text-transform: capitalize;

    @include desktop_rules {
        font-size: 21px;
    }

    @include mobile_rules {
        font-size: 17px;
    }
}

:local(.ddItemDescription_div){
    composes:formText;
    position: relative;
    height: var(--dd-item-description);
    /*color: #879094;*/
    color:#717171;
    font-weight: unset;
    letter-spacing: .08rem;
    overflow-y: hidden;

    @include desktop_rules {
        font-size: 14px;
    }

    @include mobile_rules {
        font-size: 13px;
    }
}

:local(.ddTextOverflow_div){
    position: absolute;
    height: calc(var(--dd-item-description)/3);
    width: 35px;
    right: 0px;
    bottom: 0px;
    /*background-image: linear-gradient(to left,#f1f1f1,#f1f1f1, #f1f1f100);*/
    color: #6b6b6b;
    text-align: right;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

:local(.ddRetailerLogo_div){
    display: inline-block;
    vertical-align: top;
    --logo-div-width: 35px;
    width: var(--logo-div-width);
    height: 100%;
    position: relative;
}

:local(.ddUdrNameContainer_div){
    --udrName-border-width: 2px;
    --udrName-height: 30px;
    display: inline-block;
    height: var(--udrName-height);
    padding-left: 5px;
    padding-right: 5px;
    line-height: calc(var(--udrName-height) - 2*var(--udrName-border-width));
    border: solid var(--udrName-border-width) var(--color-05-tint-01);
    border-radius: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: unset;
    transition: background-color 200ms ease-in-out;
}

:local(.ddUdrName_div){
    composes:formText;
    height: 100%;
    width: 100%;
    font-size: 14px;
    letter-spacing: unset;
    color:#616161;
    font-weight: unset;
}

.ddUdrNameContainer_div:hover{
    background-color: var(--color-05-tint-02);
    transition: background-color 200ms ease-in-out;
}

:local(.ddRetailerSlot_div){
    composes:ddUdrNameContainer_div;
    width: unset;
   /*width: 100%;
    height: 35px;*/
}

:local(.ddRetailerName_div){
    composes:ddUdrName_div;
    display: inline-block;;
    width:calc(100% - var(--logo-div-width));
    /*display: inline-block;
    vertical-align: top;
    height: 100%;*/
}

:local(.ddApparelTypeSlot_div){
    composes: dropdownItemContainer;
    --apparel-type-slot-height: 60px;
    --apparel-type-icon-padding: 5px;
    --reduce-icon-width-by: 10px;
    --apparel-type-icon-width: calc(var(--apparel-type-slot-height) - var(--reduce-icon-width-by));
    height: var(--apparel-type-slot-height);
    margin-bottom: 5px;
    margin-top: 0px; 

    padding-left: 29px;
    border-top-left-radius: 5px;
    background-color: unset;
    cursor:pointer;
    transition: background-color 75ms ease-in-out;

}

:local(.ddApparelTypeIcon_div){
    display: inline-block;
    width: var(--apparel-type-icon-width); 
    height: 100%;
    margin-left: -25px;
    padding: var(--apparel-type-icon-padding);
    background: white;
    border: solid 2px #d2d2d2;
    border-radius: 4px;
}

:local(.ddApparelTypeIcon_svg){

}

:local(.ddApparelTypeNameContainer_div){
    display: inline-block;
    position: relative;
    height: 100%;
    width: calc(100% - var(--apparel-type-icon-width));
    margin-left: 10px;
    vertical-align: top;   
}

.ddApparelTypeSlot_div:hover{
    background-color: #d2d2d2;
    transition: background-color 75ms ease-in-out;

}

:local(.ddApparelTypeName_div){

    width: 100%;
    height: 100%;
    top: 0px;
    line-height: calc(var(--apparel-type-slot-height) - 2*var(--apparel-type-icon-padding));
    font-size: 18px;    
    font-family: Roboto;
    text-transform: capitalize;
}

.ddUdrNameContainer-enter{
    opacity: 0;
}

.ddUdrNameContainer-enter-active{
    opacity: 1;
    transition: opacity 200ms ease-in;

}

.ddUdrNameContainer-exit{
    opacity: 1;
}

.ddUdrNameContainer-exit-active{
    opacity: 0;
    transition: opacity 200ms;
}
