@import "root";

.contentContainer_div{
    /* as seen on (aso) */
    --aso-margin-left: 2px;
    --aso-img-row-count: 3;
    --aso-container-lr-padding: 15px;

    transition: height var(--item-info-transition-period) linear;

	/*overflow-y: scroll;
    overflow-x: hidden;*/
    position: relative;
    /*height: 60vh;*/
    /*background: #fdfdfd;*/
    width: 100%;
    border: solid var(--aso-container-border-width) #bababa;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-top: 5px;
    padding-left: var(--aso-container-lr-padding);
    padding-right: var(--aso-container-lr-padding);
    margin-top: -15px;
    background-color: var(--main-background-color);
    will-change: height;

    @include desktop_rules {
        --aso-container-border-width: 1px;
        --aso-img-width: calc(((500px - 23px - 2*var(--aso-container-lr-padding) - 2*var(--aso-container-border-width)) - (var(--aso-img-row-count) + 1)*var(--aso-margin-left))/3);
        border-top-style: none;
        margin-bottom: 15px;
        border: unset;
        background-color: unset;
    }

    @include mobile_rules {
        --aso-container-border-width: 0px;
        --aso-img-width: calc(((100vw - 2*var(--aso-container-lr-padding) - 2*var(--aso-container-border-width)) - (var(--aso-img-row-count) + 1)*var(--aso-margin-left))/3);
        background-color:  #e6e6e6;
        border-bottom: none;
        margin-top: 0px;
    }
}

.contentContainer_div-enter{
    height: 0vh;
    transition: height var(--item-info-transition-period) linear;
}

.contentContainer_div-enter-active{
    height: 60vh;
    transition: height var(--item-info-transition-period) linear;
}

.contentContainer_div-exit{
    height: 60vh;
    transition: height var(--item-info-transition-period) linear;
}

.contentContainer_div-exit-active{
    height: 0vh;
    transition: height var(--item-info-transition-period) linear;
}

:local(.itemAsSeenOnContainer_div){
    margin-top: var(--aso-margin-left);
    display: inline-block;
    width: var(--aso-img-width);
    height: 100%;
    margin-left: var(--aso-margin-left);
    vertical-align: top;
}

:local(.itemAsSeenOn_div){
    /*width: calc((2/3)*119px);*/
    width: inherit;
    height: var(--aso-img-width);
}

:local(.imageContainer_div){
    position: absolute;
    /*height: 100%;*/
    height: var(--aso-img-width);
    width: inherit;
    border-radius: 3px;
    border-width: 2px;
}

/*:local(.image_img){
    height: 119px;
    border-radius: 4px;
}*/

:local(.imageApparel_img){
    /*composes: image_img from './forms.scss';*/    
    height: inherit;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

:local(.infoContainer_div){
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    display: none;
}

:local(.infoName_div){
    font-size: 25px;
    --username-padding: 7px;
    --username-height: 35px;
    line-height: calc(var(--username-height) - 2*var(--username-padding));
    height: var(--username-height);
    font-family: "Archivo Black";
    color: var(--color2);
    background-color: #515151;
    padding: var(--username-padding);
    border-radius: 4px;
}  

:local(.infoSocial_div){
    height: calc(100% - 48px);
    position: relative;
    padding-top: 15px;
}

:local(.infoLikes_div){
    --text-container-height: 14px;
    height: var(--text-container-height);
    font-size: var(--text-container-height);
    line-height: var(--text-container-height);
    left: 3px;
    /* top: 20px; */
    position: absolute;
    /* font-weight: bold; */
    color: #515151;
}

:local(.infoLikes_span){
    color: #515151;
    font-weight: bold;
    /* font-family: "Archivo Black"; */
    font-size: calc(2px + var(--text-container-height));
    letter-spacing: 0.2rem;
    border: solid 1px #515151;
    border-radius: 4px;
    padding: 2px;
    /* background-color: #fdd835ad; */
    margin-left: 5px;
    position: absolute;
    left: 70px;
    top: calc(-1*(4px)/2);
}

:local(.infoFollowing_div){
    --text-container-height: 14px;
    height: var(--text-container-height);
    font-size: var(--text-container-height);
    line-height: var(--text-container-height);
    left: 3px;
    position: absolute;
    color: #515151;
}

:local(.infoFollowing_div){
    composes:infoLikes_div;
    top: calc(10px + 2*(4px + 1px + var(--text-container-height)));
}

:local(.infoFollowing_span){
    composes:infoLikes_span;
}