@import "root";

:local(.itemContainer) {
	height: 75px;
	margin-bottom:8px;	
	/*display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-template-areas: 
		"type size retailer brand"*/
}

.itemPin:hover{
	cursor: grab;
}

:local(.itemPin){

}



:local(.itemMenuHeaderContainer){
    height: 100%;
}

:local(.itemMenuHeader){
	width: 35px;
    height: 100%;
}

:local(.itemMenuHeaderIconContainer){
	height: 100%;
    padding-top: 20px;
}


/*==========TRANSITION GROUP CLASSES==========*/


/*All Items*/

.itemBrowseInitialize-enter{
    height: 112.5px;
	opacity: 0;
    width: 500px;
    margin: auto;
    margin-bottom: 18px;
}

.itemBrowseInitialize-enter-active{
    width: 575px;
    margin-bottom: 18px;
	opacity: 1;
    margin: auto;
    height: 112.5px;
	transition: opacity 200ms ease-in, height 200ms ease-in;

	@include desktop_rules {
    }

    @include mobile_rules {
    }

}

.itemBrowseInitialize-exit{
	opacity: 1;
	height: 112.5px;	
    width: 500px;
    margin: auto;
    margin-bottom: 18px;
}

.itemBrowseInitialize-exit-active{
	opacity: 0;
	height: 0px;
    width: 500px;
    margin: auto;
    margin-bottom: 18px;
	transition: opacity 100ms, height 100ms;
}


/*Item Menu Icons*/

.itemMenuContainer{
	z-index:-1;
	position: absolute;
	height:75px;
}

.itemMenuContainer-enter{
	opacity: 0;
	margin-left: 25px;
}

.itemMenuContainer-enter-active{
	/*z-index:1;*/
	opacity : 1; 
	margin-left: -50px;
	transition: all 200ms ease-in, border-radius 0;
}

.itemMenuContainer-exit{
	/*opacity : 1;*/
	/*margin-left: -50px;*/
}

.itemMenuContainer-exit-active{
	/*z-index:-1;*/
	opacity: 0;
	margin-left: 25px;
	transition: margin-left 100ms, opacity 100ms;
}

.itemListBrowseContainer_div{
	@include desktop_rules {
		--ilbc-width: 400px;
		width: calc(2*var(--ilbc-width) + 100px);
    	/*margin-left: 400px;*/
    	margin-left: calc((100vw - 300px - 2*var(--ilbc-width) - 100px)/2 - 100px);
    }

    @include mobile_rules {
    	width: 100vw;
    	background-color: #f9f9f9;
    }
}