@import "root";

div{
	font-family: Roboto, cursive;
    letter-spacing: 0.08rem;
}

:local(.itemLite_div){
	--item-width: 100%;
	--item-padding-left: 10px;
	--item-lite-border-width:1px;
	--apparel-icon-container-width: 51px;

	position: relative;
	width: var(--item-width);
	height: 100%;
	/*border: solid var(--item-lite-border-width) var(--color2);
	border-radius: 4px;
	padding-bottom: 5px;
	padding-left: 10px;*/
	cursor: default;

	@include desktop_rules {
		background-color: white;
    }

    @include mobile_rules {
		background-color: white;
		border: none;
		border-radius: 0px;
    }
}

:local(.itemDeleteBtn_div){
	position: absolute;
    --btn-container-width: 28px;
    width: var(--btn-container-width);
    height: var(--btn-container-width);
    top: 2px;
    left: 2px;
    background-color: white;
    border-radius: 2px;
    border: solid 2px var(--color-05-tint-02);
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;

	@include desktop_rules {
    }

    @include mobile_rules {
    }
}

:local(.itemLiteBrowse_div){
	composes: itemLite_div;

	@include desktop_rules {
		margin-bottom: 15px;
		height: 125px;
    }

    @include mobile_rules {
		height: 125px;
		border-bottom: none;
    }
}

:local(.underLine_div){
	display: none;
	--line-width:400px; 
	width: var(--line-width);
	height: 1px;
	margin-left: calc(200px - var(--line-width)/2);
	border-bottom: solid 1px black;
}

:local(.itemContentContainer_div){
	--item-content-container-width: calc(
		var(--item-width) - 
		var(--item-padding-left) - 
		var(--apparel-icon-container-width) -
		var(--item-lite-border-width)
	);
	width: var(--item-content-container-width);
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

:local(.itemRetailerContainer_div){
	--retailer-container-height: 40px;
	text-align: left;
	width: inherit;
	height: var(--retailer-container-height);
}

:local(.itemRetailer_div){
	line-height: var(--retailer-container-height);
	font-size: 20px;
	font-family: 'Archivo Black';
	color: var(--color1);
	overflow-x: hidden;
	white-space: nowrap;
}

:local(.itemHandle_div){
	--handle-line-height: 20px;
	text-align: left;
	height: calc(2*var(--handle-line-height));
	line-height: var(--handle-line-height);
	font-size: 13px;

}

:local(.itemControlsContainer_div){ 
	width: var(--item-content-container-width);
	text-align: left;
	position: absolute;
	bottom: 0px;
	bottom: 0px;
	left: 5px;
}

:local(.itemLiteControls_div){
	display: inline-block;
	vertical-align: top;
	width: 21px;
	height:	21px;
	cursor: pointer;
}

:local(.bookmarkIcon_div){
	composes: itemLiteControls_div;
}

:local(.dropdownIcon_div){
	composes: itemLiteControls_div;
	margin-top: 7px;
	margin-left: calc(50% - 31px); 
}

:local(.apparelIconContainer_div){
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: var(--apparel-icon-container-width);
	height: 100%;
	background-color: var(--color2);
	/*border-bottom-right-radius: 4px;*/
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-left: 5px;
}

:local(.apparelTypeIcon_div){
	width: 40px;
	height: 40px;
	margin:auto;
}

:local(.selectedSize_div){
	/*--selected-size-height: 27px;*/
	--selected-size-height: 40px;
	--selected-size-border: 1px;
	--size-color: var(--color-05-tint-01);

	position: absolute;
	width: var(--selected-size-height);
	height: var(--selected-size-height);
	
	font-weight: bold;
	line-height: calc(var(--selected-size-height) - var(--selected-size-border));
	text-align: center;
	border: solid var(--selected-size-border) var(--color-05-tint-01);
	background-color: var(--color-05-tint-01);
	border-radius: 4px;
	bottom: 10px;
	left: calc(50% - var(--selected-size-height)/2);

	right: calc(35% + 5px);
	left: unset;
	top: 14px;
}

:local(#selectedSizeIcon span){
	color: var(--color1);
	color: white;
	font-weight: 100;
	font-size: 18px;
}
