@import "root";

:local(.contentContainer_div){
	overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    height: 60vh;
    /*background: #fdfdfd;*/
    width: 100%;
    border: solid 1px #bababa;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-top: 15px;
    margin-top: -15px;
    background-color: var(--main-background-color);

    @include desktop_rules {
        border-top-style: none;
        margin-bottom: 15px;
    }

    @include mobile_rules {
        background-color:  #eeeeee;
        border-bottom: none;
        margin-top: 0px;
    }
}

:local(.itemAsSeenOnContainer_div){
    margin-top: 30px;
    height: 119px;
}

:local(.itemAsSeenOn_div){
    display: inline-block;
    width: calc((2/3)*119px);
    height: 100%;
    margin-left: 25px;
    vertical-align: top;
}

:local(.imageContainer_div){
    position: absolute;
    height: 100%;
    border-radius: 3px;
    border-width: 2px;
}

/*:local(.image_img){
    height: 119px;
    border-radius: 4px;
}*/

:local(.imageApparel_img){
    /*composes: image_img from './forms.scss';*/
    height: 119px;
    border-radius: 4px;
}

:local(.infoContainer_div){
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

:local(.infoName_div){
    font-size: 25px;
    --username-padding: 7px;
    --username-height: 35px;
    line-height: calc(var(--username-height) - 2*var(--username-padding));
    height: var(--username-height);
    font-family: "Archivo Black";
    color: var(--color2);
    background-color: #515151;
    padding: var(--username-padding);
    border-radius: 4px;
}  

:local(.infoSocial_div){
    height: calc(100% - 48px);
    position: relative;
    padding-top: 15px;
}

:local(.infoLikes_div){
    --text-container-height: 14px;
    height: var(--text-container-height);
    font-size: var(--text-container-height);
    line-height: var(--text-container-height);
    left: 3px;
    /* top: 20px; */
    position: absolute;
    /* font-weight: bold; */
    color: #515151;
}

:local(.infoLikes_span){
    color: #515151;
    font-weight: bold;
    /* font-family: "Archivo Black"; */
    font-size: calc(2px + var(--text-container-height));
    letter-spacing: 0.2rem;
    border: solid 1px #515151;
    border-radius: 4px;
    padding: 2px;
    /* background-color: #fdd835ad; */
    margin-left: 5px;
    position: absolute;
    left: 70px;
    top: calc(-1*(4px)/2);
}

:local(.infoFollowing_div){
    --text-container-height: 14px;
    height: var(--text-container-height);
    font-size: var(--text-container-height);
    line-height: var(--text-container-height);
    left: 3px;
    position: absolute;
    color: #515151;
}

:local(.infoFollowing_div){
    composes:infoLikes_div;
    top: calc(10px + 2*(4px + 1px + var(--text-container-height)));
}

:local(.infoFollowing_span){
    composes:infoLikes_span;
}