
@import "root";

:local(.itemContainer) {
	height: 75px;
	margin-bottom:8px;	
	/*display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-template-areas: 
		"type size retailer brand"*/
}

.itemPin:hover{
	cursor: grab;
}

:local(.itemPin){

}



:local(.itemMenuHeaderContainer){
    height: 100%;
}

:local(.itemMenuHeader){
	width: 35px;
    height: 100%;
}

:local(.itemMenuHeaderIconContainer){
	height: 100%;
    padding-top: 20px;
}

:local(.itemsContainer_div){

    @include desktop_rules {
        /*width: 375px;*/
        width: 100%;
        border-radius: 5px;
        border-left: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: var(--main-background-color);
        height: calc(100% - 60px);
        position: unset;
        padding: 17px;
        padding-top: 0px;
    }

    @include mobile_rules {
        width: 100%;
        position: absolute;
        top: 0px;
        background-color: unset;
        /*margin-top: 40px;*/
        padding: 0px;
        height: 0px;
    }
}

:local(.itemBlock){	
	/*grid-area: itemmenu;*/
	/*display: inline-block;*/
	vertical-align: top;
    width: 400px;
    /*height: calc(100% - 80px);*/
    height: calc(100vh - 7px - 20px);
	
	--button-icon-stroke: #4a4547;
	--size-block-width: 70px;
	--type-block-width: 50px;

    background-color: #F9F9F9;
	
    @include desktop_rules {
        display: inline-block;
        /*--item-height: calc(((((((((100vh - 40px) - 40px) - 80px) - 80px) - 25px) - 5vh) - 12px) / 6) - 1px);*/
        /*--item-height: calc(((((((((100vh - 40px) - 40px) - 80px) - 80px) - 25px) - 5vh) - 12px) / 4) - 1px);*/
        --item-height: calc((100vh - 5vh - 25px - 7px - 20px)/4 - 1px)
    }

    @include mobile_rules {
        /*background-color: unset;*/
        --item-height: calc(100vw / 3.2360679775);
    }

}

:local(.stdItemBlock){
	composes:stdBlock from './root.scss';
	/*margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #424242;
    border-style: solid;*/
    border-radius:0px;
	height:100%;
	font-size: 80%;
	background-color: #4a4547;
	display: inline-flex;
}

:local(.itemTypeBlock) {
	composes: stdItemBlock;
	grid-area: type;
	width:var(--type-block-width);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

:local(.itemSizeBlock) {
	composes: stdItemBlock;
	grid-area: size;
	width: var(--size-block-width);
	position: relative;
	vertical-align: top;
}

:local(.itemSize_div){
	height: 44px;
    width: 44px;
    text-align: center;
    line-height: 42px;
    border: solid 2px white;
    border-radius: 22px;
    font-size: 1.9rem;
    font-family: Roboto;
    letter-spacing: 0.08rem;
    margin: auto;
}

:local(.itemHandleBlock) {
	composes: stdItemBlock;
	background-color: none;
	/*color: #e0c570;*/
	color:#4a4547;
	height: 25%;
    display: block;
	padding-left: 8px;
	background-color: #0000;
	font-size:1.5em; 
}

:local(.itemInfoBlock_div) {
	composes: stdItemBlock;
	height: 25%;
    display: block;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
	font-size: 24px;
    /*color: #BDBDBD;*/
    color: #6d6d6d;
    position: relative;
	padding-left: 8px;
	background-color: #0000;

	/*background-image: linear-gradient(to right, black, black, #616161);*/
}

:local(.itemControlsContainer_div){
	position: absolute;
	--item-controls-container-height: 26px;
	bottom: 3px;
	width: 100%;
	height: var(--item-controls-container-height);
    text-align: left;
}

:local(.itemButtonContainer_div){
    position: relative;
    width: 100%;
    height:100%;
}

:local(.itemButton_div){
    display: inline-block;
    width: var(--item-controls-container-height);
    height: 100%;
    cursor: pointer;
    transition: transform 100ms linear;
}

/*==========TRANSITION GROUP CLASSES==========*/


/*All Items*/

.itemInitialize-enter{
	height: 0px;
	opacity: 0;
	margin-bottom: 12px
}

.itemInitialize-enter-active{
	opacity: 1;
	height: 112.5px;
	transition: opacity 200ms ease-in, height 200ms ease-in;
	margin-bottom: 12px

}

.itemInitialize-exit{
	opacity: 1;
	height: 112.5px;	
	margin-bottom: 12px
}

.itemInitialize-exit-active{
	opacity: 0;
	height: 0px;
	transition: opacity 100ms, height 100ms;
	margin-bottom: 12px
}


/*Item Menu Icons*/

.itemMenuContainer{
	z-index:-1;
	position: absolute;
	height:112.5px;
}

.itemMenuContainer-enter{
	opacity: 0;
	margin-left: 25px;
}

.itemMenuContainer-enter-active{
	/*z-index:1;*/
	opacity : 1; 
	margin-left: -50px;
	transition: all 200ms ease-in,;
}

.itemMenuContainer-exit{
	/*opacity : 1;*/
	/*margin-left: -50px;*/
}

.itemMenuContainer-exit-active{
	/*z-index:-1;*/
	opacity: 0;
	margin-left: 25px;
	transition: margin-left 100ms, opacity 100ms;
}


.itemContainer_div{
	/*composes:itemBrowseInitialize-enter-active from './itemBrowse.scss';*/
	/*height: var(--item-height);*/
	width: 100%;
	will-change: transform;

    @include desktop_rules {
        transition: transform var(--item-transition-period) linear var(--item-transition-delay);
        /*height: calc((100% - 25px - 5vh)/6 - 4px);*/
        height: calc((100% - 25px - 5vh)/4 - 4px);
        margin-bottom: 12px;
        width: 100%;
    }

    @include mobile_rules {
        transition: transform var(--item-transition-period) linear var(--item-transition-delay);
        display: none;
        /*height: calc(100vw / 3.2360679775);*/
        height: var(--item-height);
        position: absolute;
        /* top: -35px; */
        /* top: 20px; */
        /*calc(-100vh + 80px + 20px + calc(100vw / 3.2360679775))*/
        margin: unset;
        box-shadow: var(--mat-height-4);
    }
};


.itemContainer_div-enter{
	opacity: 1;
}

.itemContainer_div-enter-active{
	transition: opacity 70ms linear;
	opacity: 0;
}

.itemContainer_div-exit{
	opacity: 0;
}

.itemContainer_div-exit-active{
	transition: opacity var(--ic-transition-period) linear calc(var(--eif-transition-start) - var(--ic-transition-period)*0.8);
	opacity: 1;
}

:local(.expandedItemContainer_div){
	composes: itemContainer_div;
	position: absolute;
	top: 0px;
	z-index: 100;
}

:local(.itemContainerEdit_div--selected){
	composes:itemContainer_div;

    @include desktop_rules {
        //border-style: solid;
        //border-color: #6dd7b4;
        //border-width: 3px;
        //border-top-left-radius: 18px;
        //border-bottom-left-radius: 18px;
        //border-right: none;
        //margin-left: -3px;
    }

    @include mobile_rules {
        width: 100vw;
        margin: unset;
        display: block;
        //bottom: calc(-100vh + 80px + 20px + calc(100vw / 3.2360679775));
        bottom: calc(-100vh + var(--cc-mobile-height) + var(--clc-mobile-height) + var(--item-height));
        background-color: white;
    }
}

:local(.itemContainerPreview_div--selected){
	composes:itemContainerEdit_div--selected;
}

:local(.itemContainerPreview_div--opened){
    composes:itemContainerPreview_div--selected;
    z-index: 100;

    @include desktop_rules {
        /*transform: translateY( calc(-1*var(--index)*(var(--item-height) + 10px)) );*/
        transform: translateY( calc(-1*var(--index)*(167px + 10px)) );
        position: absolute;
    }

    @include mobile_rules {
        /*transform: translateY(var(--item-height) - calc(-100vh + 80px + 20px + calc(100vw / 3.2360679775)) - 80px);*/
       /* transform: translateY(calc(100vw / 3.2360679775 - 100vh - 0px + 20px + calc(100vw / 3.2360679775)));*/
        transform: translateY(calc(-100vh + 2*var(--item-height) + var(--cc-mobile-height) + var(--clc-mobile-height)));
        /*transform: translateY(-80px);*/
        /*bottom: unset;*/
    }
}

:local(.itemContainerBrowse_div--selected){
	composes:itemContainer_div;
    margin-bottom: 312px;
	border:none;

}

:local(.sourceInfo){
	position: relative;
	display: inline-block;
    width: calc(100% - 181px);
    vertical-align: top;
    height: 100%;
    border-left: 6px solid rgb(253, 253, 253);
    background-color: #4a4547
}

:local(.sourceInfoProfile_div){
	composes:sourceInfo;
	--sourceInfo-left-margin: 5px;	
    width: calc(100% - var(--type-block-width) - var(--size-block-width) - var(--sourceInfo-left-margin));
    padding-right: 15px;
    /*background-color: #4a4547;*/
    background-color: #ffffff;
    margin-left: var(--sourceInfo-left-margin);
    border: 1px solid #bdbcbc;
    border-radius: 4px;
}

:local(.shopBtnContainer_div){

	position: relative;
    display: inline-block;
    vertical-align: top;
	background-color: #ffffff;
    height: 100%;
}

:local(.shopBtn_div){
	composes:pressable from "./root.scss";
	position: absolute;
    width: 35px;
    height: 35px;
    bottom: 2px;
    right: 0px;
    bottom: 0px;

    @include desktop_rules {
    }

    @include mobile_rules {
        top: 0px;
    }
}

.shopMask_div:hover{
	display:none;
}

.shopMask_div{
	display: block;
	width: 100%;
    height: 100%;
    /*background-color: #4a45477d;*/
    background-color: #ffffff7d;
    position: absolute;
    top: 0px;
}

:local(.itemRetailerHomeGradientContainer_div){
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 0px;
}

:local(.itemRetailerHomeGradient_div){
	position: absolute;
    width: 10px;
    height: 50px;
    /*background: linear-gradient(to left, #4a454700, #4a4547);*/
    background: linear-gradient(to left, #ffffff00, #ffffff);
    margin-left: -8px;
}

:local(.retailerName_div){
	overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    width: calc(100% - 11px);
    font-family: "Archivo Black", sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

:local(.itemRetailerEndGradientContainer_div){
	composes:itemRetailerHomeGradientContainer_div;
}

:local(.itemRetailerEndGradient_div){
	composes:itemRetailerHomeGradient_div;
    width: 50px;
    /*background: linear-gradient(to right, #4a454700, #4a4547);*/
    background : linear-gradient(to right, #ffffff00, #ffffff, #ffffff);
    margin-left: -39px;
}

:local(.ellipsisContainer_div){
	color: #bdbdbd;
    width: 15px;
    height: 3.5rem;
    float: right;
    position: relative;
}

:local(.ellipsis_div){
	position: absolute;
    height: 100%;
    line-height: 3.5rem;
    font-size: 2.5rem;
}


.expandedItemInfoContainer__div{
	/*--variable-A: calc(100vh - 180px - 5vh - 25px);*/
    white-space: pre-wrap;
	--expanded-item-content-width: 93%;
	--variable-A: 100%;
    /*height: calc((5/6)*var(--variable-A) - (80px + 12px)/6);*/
    width: 100%;
    /*
    border: solid 1px var(--color2);
    */
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
    /*background-color: #f9f9f9;*/
    position: relative;
    z-index: 100;

    @include desktop_rules {
        /*height:600%;*/
        height: 60vh;
        background-color: white;
        //transition: transform var(--item-info-transition-period) linear var(--item-transition-total);
    }

    @include mobile_rules {
        /*height: calc(100vh - (100vw / 3.2360079775) - 120px);*/
        height: calc(100vh - (100vw / 3.2360079775));
        overflow-y: scroll;
        background-color: #f9f9f9;
        padding-bottom: calc(100vw / 3.2360079775);
        //transition: transform var(--item-info-transition-period) linear;
    }
}

.expandedItemInfoContainer_div-enter{
    //transition: transform var(--item-info-transition-period) linear var(--item-transition-total);
    opacity: 1;    
	transform: translateY(-50%) scaleY(0);
}

.expandedItemInfoContainer_div-enter-active{
    opacity: 1;
    transition: transform var(--item-info-transition-period) linear var(--item-transition-total);
    //transition: transform 600ms linear 100ms;
	transform: translateY(0%) scaleY(1);
}

.expandedItemInfoContainer_div-exit{
    opacity: 1;
    //transition: transform var(--item-info-transition-period) linear;
	transform: translateY(0%) scaleY(1);
}

.expandedItemInfoContainer_div-exit-active{
    opacity: 0;
    transition: transform var(--item-info-transition-period) linear 70ms, opacity 0ms linear var(--item-transition-total);
    //transition: transform 600ms linear 70ms;
	transform: translateY(-50%) scaleY(0);	
}


.expandedItemInfo__div{  
    opacity: 0;  
    transition: opacity 70ms linear var(--item-transition-total);
}

.expandedItemInfo_div-appear,
.expandedItemInfo_div-enter {
	opacity: 0;
}

.expandedItemInfo_div-appear-active
.expandedItemInfo_div-enter-active{
	opacity: 1;
	//transition: opacity 70ms linear var(--eif-transition-start);
    transition: opacity 70ms linear var(--item-transition-total);
    //transition: opacity 70ms linear 900ms;
}

.expandedItemInfo_div-enter-done{
    opacity: 1;
}

.expandedItemInfo_div-exit{
	opacity: 1;
}

.expandedItemInfo_div-exit-active{
	opacity: 0;
	transition: opacity 70ms linear;
}

:local(.variantOptionsContainer_div){
    width: var(--expanded-item-content-width);
    --variant-size-option-height: 27px;
    margin: auto;
    padding-top: 25px;
    margin-bottom: 15px;

    @include desktop_rules {
        height: 175px;
    }

    @include mobile_rules {
        /*min-height: 175px;*/
    }
}

:local(.variantSizeOptionsContainer_div){
	margin-bottom: 7px;
	display: inline-block;
	text-align:left;
	width: 50%;
	vertical-align: top;
}

:local(.variantColorOptionsContainer_div){
	display: inline-block;
	text-align:right;
	width: 50%;

}

:local(.variantSizeOptions_div){
	position: relative;

}

:local(.variantColorOptions_div){
	composes:variantSizeOptions_div;
    display: block;
    top: 0px;
    height: 95px;
    height: 0px;
    width: 100%;
    --border-color-vco: #d6d6d6;
    border-right: 1px solid var(--border-color-vco);
    border-bottom: 1px solid var(--border-color-vco);
    border-left: 1px solid var(--border-color-vco);
    border-image: initial;
    border-top: none;
    padding-top: 5px;
    overflow-y: scroll;
    transition: height 100ms linear;
}

:local(.colorVariantDropDown_div){
	height: var(--variant-size-option-height);
    line-height: var(--variant-size-option-height);
    text-align: left;
    width: 100%;
    padding-left: 10px;
    cursor: pointer;
    border: solid 1px gray;
    border-radius: 3px;
    font-size: 15px;
    color: #9c9c9c;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

:local(.sizeVariant_div){
	display: inline-block;
    min-width: var(--variant-size-option-height);
    height: var(--variant-size-option-height);
    vertical-align: top;
    margin-right: 5px;
    border: solid 1px gray;
    border-radius: 2px;
    cursor: pointer;
    line-height: var(--variant-size-option-height);
    text-align: center;
    font-family: Roboto;
    font-size: 11px;    
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 5px;
}

:local(.colorVariant_div){
    --color-variant-width: 100%;
    width: var(--color-variant-width);
    height: var(--variant-size-option-height);
    line-height: var(--variant-size-option-height);
    text-align: right;
    padding-right: 7px;
    font-size: 13px;
    font-family: Roboto;
    letter-spacing: 0.08rem;
    cursor: pointer;
    background-color: unset;
    transition: background-color 75ms;
    margin-left: calc(100% - var(--color-variant-width));
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.colorVariant_div:hover{
	background-color: #bdbdbd;
}

:local(.variantTitle_div){
	height: 33px;
    line-height: 33px;
    font-size: 17px;
    font-family: 'Archivo Black';
    letter-spacing: 0.08rem;
    color: #4a4a4a;
}

:local(.retailerImageContainer_div){
    width: var(--expanded-item-content-width);
    margin: auto;
    background-color: #4a4a4a;
    border-radius: 3px;
}

:local(.descriptionContainer_div){
    width: var(--expanded-item-content-width);
    margin: auto;
    margin-top: 25px;
}

:local(.description_div){
    margin-top: 15px;
    font-size: 14px;
    color: #4a4a4a;
    letter-spacing: 0.09rem;
    word-spacing: 0.2rem;
}
