@import "root";

:local(.navContainer) {
	height: 100%;	
	/*display: grid;
    grid-template-columns:  18% 1fr 18%;
	grid-template-rows: 1;
	grid-gap: 0px;
	grid-template-areas:
		"left center right";*/
}

:local(.navBanner_div){
	display: block;
    width: 100%;
    height: 100%;
    /* margin-left: 296px; */
   /* border-bottom: solid 1px #c1c1c1;*/
    /* box-shadow: 0px 0px 4px 0px #c1c1c1; */
}

:local(.stdNavButtonContainer_div){
    height: 100%;
    /* margin-left: 330px; */

    @include desktop_rules {
        padding-top: calc(var(--page-header-height)/3);
        text-align: center;
        width: 45%;
        margin: auto;
        padding-left: 50px; 
    }

    @include mobile_rules {
        text-align: left;
        width: unset;
    }  
}

:local(.stdNavButtonBlock){
	composes:stdBlock from './root.scss';
	display:inline-block;
	position: relative;
	border-radius: 0px;
	height:100%;
	font-size: 83%;
	text-align: center;
	/*background-color: #00BCD4;*/
    vertical-align: top;

    @include desktop_rules {
        color: var(--color-01);
        width:20%;
        margin-bottom: 5px;
    }

    @include mobile_rules {
        color: #3b3739;
        padding: unset;
        margin: unset;
        width: calc((100vw - 80px)/3 - 10px)
    }
}

:local(.navButtonText_div){
    position: absolute;
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.15rem;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;

    @include desktop_rules {
        margin-top: unset;
        margin: 0 25% 0px 25%;
        /*font-size: 14px;*/
    }

    @include mobile_rules {
        margin: 0px 0px 0px 0px;
        margin-top: calc(79px/2 - 12.5px/3);
    }
}

:local(.navButtonText_div--selected){
	composes: navButtonText_div;
    color: white;
    background-color: var(--color-01);
    border-radius: 4px;
}

:local(.home) {
	composes: stdNavButtonBlock;
	/*grid-area: center;*/
}

:local(.profile) {
	composes: stdNavButtonBlock;
	/*grid-area: center;*/
}

:local(.settings) {
	composes: stdNavButtonBlock;
	/*grid-area: center;*/
}

:local(.search) {
	composes: stdNavButtonBlock;
	/*grid-area: center;*/
	text-align: center;
}

:local(.logout) {
	composes: stdNavButtonBlock;
	/*grid-area: center;*/
	border-right: 0px solid white;
}

:local(.center){
	/*composes: stdNavButtonBlock;*/
	/*grid-area: center;*/
	/*background-color: #00BCD4;*/
}


/*Logo Styles*/

:local(.landingLogoContainer_div){
	position: relative;
    width: 200px;
    height: 100%;
    margin: auto;
}

:local(.landingLogo_div){
	position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-left: 25px;
}

/*Landing page nav banner sytles*/

:local(.landingCtrl_div){
	position: absolute;
    height: 50px;
    color: white;

    @include desktop_rules {
        width: 200px;
        margin-left: -200px;
        top: 0px;
    }

    @include mobile_rules {
        left: 0px;
        bottom: 6px;
    }
}

:local(.landingBtnContainer_div){	
	position: relative;
    height: 50px;
    width: 100px;
    margin-top: 20px; 
}

:local(.landingBtn_div){
    position: absolute;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    color: #c5c5c5;

    @include desktop_rules {
        bottom: 0px;
        border: solid 3px #86868666;
        width: 100%;
        height: 40px;
        line-height: 16px;
        font-family: sans-serif;
        padding-top: 10px;
    }

    @include mobile_rules {
        font-family: Roboto;
        border: solid 2px #86868666;
        height: 25px;
        line-height: 21px;
        padding: 0px;
        width: auto;
        padding-left: 7.5px;
        padding-right: 7.5px;
        margin-left: 10px;
    }
}