
@import "root";

:local(.outfitContainer) {
	height: 53px;	
	/*display: grid;*/
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-template-areas: 
		"size type image image"
}

:local(.stdOutfitBlock){
	//composes:stdBlock from './root.scss';
    --outfit-tile-width: 260px;
    display: inline-block;
    vertical-align: top;
	position:relative;
	width:var(--outfit-tile-width);
	height:calc(var(--outfit-tile-width) * 1/var(--img-aspect-ratio));
	margin:auto;
	border-radius: 2px;
    border-width: 1px;
    border-color: #212121;
	font-size: 80%;
	vertical-align: top;
    padding:0px;   

    @include desktop_rules {
        margin-left : 130px;
        margin-bottom : 50px;
        /*margin-top : 40px; */
        margin-top: 80px;     
    }

    @include mobile_rules {
        --outfit-tile-width: 77vw;
        margin-top: 30px;    
        /*margin-left: calc(50px + (300px - 200px)/2);*/
        margin-left: calc((50px + 100vw - var(--outfit-tile-width))/2);
    }
}

:local(.stdOutfitBlockProfile_div){
    composes:stdOutfitBlock;

    @include desktop_rules {
        margin-right : 50px;
        margin-bottom : 0px;
        margin-left : 50px;
        margin-top : 40px;
    }

    @include mobile_rules {
        margin-top: 30px;
        margin-top: 24px;
        max-width: calc(160px * var(--img-aspect-ratio));
        max-height: calc(160px);
        margin-left: 43.5px;
    }
}

:local(.outfitMenuBlockContainer1_div){
    height: 100%;

    @include desktop_rules {
        padding-left: 200px;
        padding-right: 200px;  
    }

    @include mobile_rules {
        /*padding-left: 50px;*/
    }
}

:local(.outfitMenuBlockContainer2_div) {
    width: 900px;
    margin: auto;
    height: 100%;   

    /*mobile*/
    /*@media screen and (max-aspect-ratio: 1/1){
        width: unset;
    }*/

    @include mobile_rules {
        width: unset;
    }
}


:local(.outfitMenuBlock){
    margin-right: -23px;
    margin-top: -25px;
}

:local(.outfitMenuBlockProfile){
    composes: outfitMenuBlock;

    @include desktop_rules {
    }

    @include mobile_rules {
        width: calc(2*(160px * var(--img-aspect-ratio)) + (5/2)*43.5px);
        margin: auto;
    }
}


:local(.Outfit__div--selected){
	composes:stdOutfitBlock;
	/*border-style: solid;
	border-color: var(--entity-selected-border-color);*/
}

:local(.addOutfitButton){
	composes:stdOutfitBlock;
	background-color: #00BCD4;
	border-width: 0px;
	width: 30px;
	height: 50px;
    vertical-align: top;
}

:local(.outfitTileMask){
    background-color: #ffffff9e;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;	
}

:local(.outfitCtrlUserProfile__div){

}

:local(.outfitSizeBlock) {
	composes: stdOutfitBlock;
	grid-area: size;
}

:local(.outfitTypeBlock) {
	composes: stdOutfitBlock;
	grid-area: type;
}

:local(.outfitImageBlock) {
	composes: stdOutfitBlock;
	grid-area: image;
}



/*Social Statistic (Home Page)*/

:local(.likesContainerHome_div){
	position: absolute;
    height: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * 0.076);
    bottom: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * -0.076);
    width: calc(100%);
    /*height: 40px;
    bottom: -40px;*/
    right: 0px;
    border-style: none;
    text-align: right;
    padding: 0px;
    padding-top: 5px;
}

:local(.likesStats_div){
    /*width: calc(100% - 40px);
    height: 40px;
    display: inline-block;*/
    width: 75%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    right: 0px;
    text-align: left;
}

:local(.likesHeader_div){
    /*display: inline-block;
    width: 50px;
    height: 100%;
    line-height: 40px;
    color: #ababab;
    text-align: left;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding-left: 10px;*/
    display: inline-block;
   /*width: 50px;*/
    height: 100%;
    line-height: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * 0.076);
    color: #656565;
    text-align: left;
    font-size: 1.3rem;
}

:local(.likesValue_div){
    /*height: 40px;
    width: calc(100% - 50px);
    color: #4a4a4a;
    display: inline-block;
    text-align: left;
    padding-left: 15px;
    line-height: 40px;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;*/
    height: 100%;
    width: calc(100% - 50px);
    color: #4a4a4a;
    display: inline-block;
    text-align: left;
    /* padding-left: 10px; */
    line-height: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * 0.076);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    padding-left: 12px;
}

/*Social Statistics CSS*/

:local(.likesContainer_div){
	position: absolute;
	/*width: 23px;*/
    width:100%;
    text-align: right;
	height: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * 0.076);
    bottom: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * -0.076 - 3px);
	/*margin-left: -30px;*/
}

:local(.likesBtn_div){    
    /*top: 0px;
	width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
    padding-right: 8px;*/
    bottom: 0px;
    width: 50px;
    /*height: 100%;*/
    position: absolute;
    padding: 13px;
    padding-bottom:5px;
    /*display: inline-block;
    vertical-align: top;*/
    left: 0px;
}

:local(.likesBtn_svg){
	/*top: 25%;*/
	height: 100%;
	/*width: 100%;*/
    width: 100%;
	/*position: absolute;*/
    cursor:pointer;
}

/*==========TRANSITION GROUP CLASSES==========*/

/*Outfit Menu Icons*/


.outfitMenuContainer{
    /*background-color: #212121c7;*/
    position: absolute;
    height: 100%;
    width: 100%;
    /*top: calc((200px * 1/var(--img-aspect-ratio)) - 70px);*/
    overflow: hidden;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display:none;
    background-color: rgba(0, 0, 0, 0.36);
}

.outfitMenuContainer-enter{
	display: none;
	opacity: 0;
}

.outfitMenuContainer-enter-active{
	display: block;
	/*z-index:1;*/
	opacity : 1; 
	transition: all 200ms ease-in;
}

.outfitMenuContainer-exit{
	/*opacity : 1;*/
	/*margin-left: -50px;*/
}

.outfitMenuContainer-exit-active{
	display: none;
	/*z-index:-1;*/
	opacity: 0;
	transition: margin-left 100ms, opacity 100ms;
}


/*OutfitTileCtrls*/
.editOutfitBtn_div{
	height: 100%;
    width: 100%;
}

.editOutfitBtnContainer_div{
	width: 100%;
    position: absolute;
}

.editOutfitBtnContainer2_div{
	text-align:center;
	position: relative;
}

.editOutfitBtnContainer3_div{
	composes:pressable from "./root.scss";
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 4px;
}

.editOutfitBtnContainer4_div{
	overflow: hidden;
    height: 20%;
    width: calc(20%*1/var(--img-aspect-ratio));
    margin: auto;
    margin-top: calc(50% + 20%/2);
}

:local(.previewMeasureBtnContainer_div){
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;
    height: 50px;
    width: 50px;    
    display: inline-block;
    vertical-align: top;
}

:local(.previewMeasureBtn_div){
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

/*replaced by outfitMenuContainer*/
/*.editOutfitBtnContainer5_div{
	position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.36);
}*/

:local(.outfitUsernameContainer_div){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
	position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #b8b8b8;
    border-right-style: none;
    background-color: #fcfcfc;
    padding: 10px 14px 10px 14px;
    width: 50px;
    /*height: calc(200px + 200px/2);*/
    height: inherit;
    margin-left: -50px;
    color: #c1c1c1;

    transition: background-color 150ms, color 150ms, border-color 150ms;
}

:local(.outfitUsernameContainer_div--selected){
    composes:outfitUsernameContainer_div;
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    color: white;

    transition: background-color 150ms, color 150ms,  border-color 150ms;
}

:local(.outfitMultiPicContainer_div){
    position: absolute;
    height: 100%;
    width: 26px;
    left: -25px;
    background-color: #f9f9f9;
    border: solid 1px #c1c1c1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    transition: background-color 150ms, color 150ms,  border-color 150ms;
}

:local(.outfitMultiPicContainer_div--selected){
    composes: outfitMultiPicContainer_div;
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    transition: background-color 150ms, color 150ms,  border-color 150ms;

    /*@include desktop_rules {
        display: block;
    }

    @include mobile_rules {
        display: none;
    }*/
}

:local(.outfitMultiPic_div){
    width: 17px;
    height: 17px;
    margin: auto;
    margin-top: 4px;
}

:local(.outfitUsername_div){
	height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 1.5rem;
    font-family: 'Archivo Black', sans-serif;
    writing-mode: vertical-lr;
    text-orientation: upright;
    /*position: relative;*/
}