
@import "root";

:local(.outfitContainer) {
	height: 53px;	
	/*display: grid;*/
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
	grid-template-areas: 
		"size type image image"
}

:local(.stdOutfitBlock){
	//composes:stdBlock from './root.scss';
    --outfit-tile-width: 260px;
    --outfit-btn-container-width: 48px;
    --button-width: 24px;
    display: inline-block;
    vertical-align: top;
	position:relative;
	width:var(--outfit-tile-width);
	margin:auto;
	border-radius: 2px;
    border-width: 1px;
    border-color: #212121;
	font-size: 80%;
	vertical-align: top;
    padding:0px;   

    @include desktop_rules {
        margin-left : 130px;
        margin-bottom : 50px;
        /*margin-top : 40px; */
        margin-top: 80px; 
        height:calc(var(--outfit-tile-width) * 1/var(--img-aspect-ratio));    
    }

    @include mobile_rules {
        --outfit-tile-width: 100vw;
        margin-top: 48px;  
        margin-bottom: 88px;  
        /*margin-left: calc(50px + (300px - 200px)/2);*/
        margin-left: calc((0px + 100vw - var(--outfit-tile-width))/2);
        height: var(--outfit-tile-width);
    }
}

:local(.stdOutfitBlockProfile_div){
    composes:stdOutfitBlock;

    @include desktop_rules {
        margin-right: var(--lr-margin);
        margin-bottom: var(--tb-margin);
        margin-left: var(--lr-margin);
        margin-top: var(--tb-margin);
    }

    @include mobile_rules {
        max-width: calc((100vw - 3*var(--ombc-frame))/2);
        max-height: calc((100vw - 3*var(--ombc-frame))/2);
        margin-top: 0px;
        margin-left: var(--ombc-frame);
        margin-bottom: var(--ombc-frame);
        border-radius: 0px;
    }
}

:local(.outfitMenuBlockContainer1_div){
    height: 100%;

    @include desktop_rules {
        /*padding-left: 200px;*/
        padding-right: 200px;  
    }

    @include mobile_rules {
        /*margin-top:  72px;*/
        padding-top: calc(var(--ombc-frame) + 10px);
        /*padding-top: calc(1.5*var(--mobile-page-header-height));
        padding-bottom: calc(2*var(--mobile-footer-height));*/
        /*padding-left: 50px;*/
    }
}

:local(.outfitMenuHeader_div){
    z-index: 7;
    background-color: #f9f9f9;

    @include desktop_rules {
        /*height: 100px;*/
        height: var(--outfit-header-height);
        top: 0px;
        width: 700px;
        left: calc(50% - 700px/2 - 150px + 23px);
        /*z-index: 10;*/
        margin: auto;
        position: -webkit-sticky;
        position: sticky;
        padding-top: 24px;
        --icon-width: 96px;
        border-bottom: solid 1px #c9c9c9;
    }

    @include mobile_rules {
        display: flex;
        margin-top: unset;
        height: 144px;
        position: absolute;
        top: 0px;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        border-bottom: solid .1rem var(--color-02)
    }
}

:local(.profileStatsContainer_div){
    @include desktop_rules {
    }

    @include mobile_rules {
        display: flex;
        justify-content: center;
    }
}

:local(.profileIcon_div){
    width: var(--icon-width);
    height: var(--icon-width);
    display: inline-block;

    @include mobile_rules {
        --icon-width: 72px;
    }
}

:local(.profileStats_div){
    height: var(--icon-width);
    display: inline-block;
    width: calc(100% - var(--icon-width));
    vertical-align: top;
}

:local(.statUsername_div){
    height: var(--title-height);
    --title-height: calc(var(--icon-width)/2);
}

:local(.statUsername_span){
    line-height: var(--title-height);
    margin-left: 24px;
    font-size: calc(var(--title-height) - 20px);
}

:local(.statCommonContainer_div){
    height: var(--stat-height);
    --stat-height: calc(var(--icon-width)/1.75);
    --stat-count: 3;
}

:local(.statCommon_div){
    height: calc(var(--stat-height)/var(--stat-count));
    margin-left: 24px;
    font-size: 14px;
    color: gray;
}

:lcoal(.statCommon_span){

}

:local(.statCommonVal_span){
    color: black;
    margin-left: 8px;
}

:local(.outfitMenuBlockContainer2_div) {
    margin: auto;
    height: 100%;   

    /*mobile*/
    /*@media screen and (max-aspect-ratio: 1/1){
        width: unset;
    }*/
    @include desktop_rules {
        width: 900px;
        /*padding-left: 23px;*/
        padding-top: 150px;
    }

    @include mobile_rules {
        width: unset;
    }
}

:local(.profileOutfitMenuBlockContainer2_div){
    composes: outfitMenuBlockContainer2_div;

    @include desktop_rules {
        width: 700px;
    }

    @include mobile_rules {
    }

}


:local(.outfitMenuBlock){
    /*margin-right: -23px;*/
    /*margin-left: -128.5px;*/
    margin-top: -25px;
}

:local(.outfitMenuBlockProfile){
    composes: outfitMenuBlock;
    --lr-margin: 24px;
    --tb-margin: 20px;

    @include desktop_rules {
        /*margin-left: -128.5px;*/
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    @include mobile_rules {
       /* width: calc(2*(160px * var(--img-aspect-ratio)) + (5/2)*43.5px);*/
        margin: auto;
    }
}


:local(.Outfit__div--selected){
	composes:stdOutfitBlock;
	/*border-style: solid;
	border-color: var(--entity-selected-border-color);*/
}

:local(.addOutfitButton){
	composes:stdOutfitBlock;
	background-color: #00BCD4;
	border-width: 0px;
	width: 30px;
	height: 50px;
    vertical-align: top;
}

:local(.outfitTileMask){
    background-color: #ffffff9e;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;	
}

:local(.outfitCtrlUserProfile__div){

}

:local(.outfitSizeBlock) {
	composes: stdOutfitBlock;
	grid-area: size;
}

:local(.outfitTypeBlock) {
	composes: stdOutfitBlock;
	grid-area: type;
}

:local(.outfitImageBlock) {
	composes: stdOutfitBlock;
	grid-area: image;
}



/*Social Statistic (Home Page)*/

:local(.likesContainerHome_div){
	position: absolute;
    height: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * 0.076);
    bottom: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * -0.076);
    width: calc(100%);
    /*height: 40px;
    bottom: -40px;*/
    right: 0px;
    border-style: none;
    text-align: right;
    padding: 0px;
    padding-top: 5px;
}

:local(.likesStats_div){
    /*width: calc(100% - 40px);
    height: 40px;
    display: inline-block;*/
    width: 75%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    right: 0px;
    text-align: left;
}

:local(.likesHeader_div){
    /*display: inline-block;
    width: 50px;
    height: 100%;
    line-height: 40px;
    color: #ababab;
    text-align: left;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding-left: 10px;*/
    display: inline-block;
   /*width: 50px;*/
    height: 100%;
    line-height: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * 0.076);
    color: #656565;
    text-align: left;
    font-size: 1.3rem;
}

:local(.likesValue_div){
    /*height: 40px;
    width: calc(100% - 50px);
    color: #4a4a4a;
    display: inline-block;
    text-align: left;
    padding-left: 15px;
    line-height: 40px;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;*/
    height: 100%;
    width: calc(100% - 50px);
    color: #4a4a4a;
    display: inline-block;
    text-align: left;
    /* padding-left: 10px; */
    line-height: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * 0.076);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    padding-left: 12px;
}

/*Social Statistics CSS*/


:local(.likesContainer_div){
	position: absolute;
	/*width: 23px;*/
    width:100%;
    text-align: right;
	height: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * 0.076);
    bottom: calc((var(--outfit-tile-width)*1/var(--img-aspect-ratio)) * -0.076 - 3px);
	/*margin-left: -30px;*/
}

:local(.likesBtn_div){
    padding: 13px;
    padding-bottom:5px;
    width: var(--button-width);
    padding: 0px;
    margin: auto;
    margin-bottom: 8px;
}

:local(.likesBtn_svg){
    composes:btn_svg from "./root.scss";
}

:local(.measureBtn_div){
    composes: likesBtn_div;
    background-color: unset;
    display: block;
    margin-top: 36px;
    padding: 0px;
}

:local(.measureBtn_svg){
    composes:btn_svg from "./root.scss";
}

/*==========TRANSITION GROUP CLASSES==========*/

/*Outfit Menu Icons*/


.outfitMenuContainer{
    /*background-color: #212121c7;*/
    position: absolute;
    height: 100%;
    /*top: calc((200px * 1/var(--img-aspect-ratio)) - 70px);*/
    overflow: hidden;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display:none;
    background-color: rgba(0, 0, 0, 0.36);

    @include desktop_rules {
        width: 100%;
        margin-left: 0px;
    }

    @include mobile_rules {
        width: calc(100% - 50px);
        margin-left: 50px;
    }
}

.outfitMenuContainer-enter{
	display: none;
	opacity: 0;
}

.outfitMenuContainer-enter-active{
	display: block;
	/*z-index:1;*/
	opacity : 1; 
	transition: all 200ms ease-in;
}

.outfitMenuContainer-exit{
	/*opacity : 1;*/
	/*margin-left: -50px;*/
}

.outfitMenuContainer-exit-active{
	display: none;
	/*z-index:-1;*/
	opacity: 0;
	transition: margin-left 100ms, opacity 100ms;
}


/*OutfitTileCtrls*/
.editOutfitBtn_div{
	height: 100%;
    width: 100%;
}

.editOutfitBtnContainer_div{
	width: 100%;
    position: absolute;
}

.editOutfitBtnContainer2_div{
	text-align:center;
	position: relative;
}

.editOutfitBtnContainer3_div{
	composes:pressable from "./root.scss";
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 4px;
}

.editOutfitBtnContainer4_div{
	overflow: hidden;
    height: 20%;
    width: calc(20%*1/var(--img-aspect-ratio));
    margin: auto;
    margin-top: calc(50% + 20%/2);
}

:local(.previewMeasureBtnContainer_div){
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;
    height: 50px;
    width: 50px;    
    display: inline-block;
    vertical-align: top;
}

:local(.previewMeasureBtn_div){
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

/*replaced by outfitMenuContainer*/
/*.editOutfitBtnContainer5_div{
	position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.36);
}*/

:local(.outfitUsernameContainer_div){
    /*border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
    /*border-style: solid;
    border-width: 1px;
    border-color: #b8b8b8;
    border-right-style: none;*/
    padding: 10px 14px 10px 14px;
    color: #c1c1c1;
    z-index: 10;

    transition: background-color 150ms, color 150ms, border-color 150ms;

    @include desktop_rules {
        position: absolute;
        height: inherit;
        width: var(--outfit-btn-container-width);
        left: calc(-1*var(--outfit-btn-container-width));
    }

    @include mobile_rules {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100vw;
    }
}

:local(.outfitUsernameContainer_div--selected){
    composes:outfitUsernameContainer_div;
    /*background-color: #4a4a4a;
    border-color: #4a4a4a;
    color: white;

    transition: background-color 150ms, color 150ms,  border-color 150ms;*/
}

:local(.outfitHeader_div){
    display: flex;
    justify-content: flex-start;
    height: auto;

    @include desktop_rules {
        left: 0px;
        top: -58px;
        position: absolute;
        margin-left: 21px;
        margin-top: 21px;
        width: auto;
    }

    @include mobile_rules {
        width: 50%;
        align-items: center;
    }
}

:local(.outfitControls_div){    
    @include desktop_rules {

    }

    @include mobile_rules {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

:local(.outfitImage_img){
    width: 100%;
    //'max-height':'inherit',
    height: 100%;
    position: absolute;
    animation: imgFadeIn 400ms;

    @include desktop_rules {
        border-radius: 3px;
        cursor: pointer;
        /*border-top-left-radius: 0px;*/
    }

    @include mobile_rules {
        object-fit: cover;    
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
}

:local(.outfitMultiPicContainer_div){
    position: absolute;
    height: 100%;
    width: 26px;
    z-index: 5;
    background-color: #f9f9f9;

    transition: background-color 150ms, color 150ms,  border-color 150ms;

    @include desktop_rules { 
        /*left: -25px;*/
        border: solid 1px #b8b8b8;
        border-right-color: rgb(184, 184, 184);
        border-right-style: solid;
        border-right-width: 1px;
        border-right: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        display: none;
        left: -100vw;
    }

    @include mobile_rules {
        display: none;
        left: -100vw;
    }
}

:local(.outfitMultiPicContainer_div--selected){
    composes: outfitMultiPicContainer_div;
    /*background-color: #4a4a4a;
    border-color: #4a4a4a;
    transition: background-color 150ms, color 150ms,  border-color 150ms;*/

    @include desktop_rules {
    
    }

    @include mobile_rules {
        display: none;
    }
}

:local(.outfitMultiPic_div){
    width: 17px;
    height: 17px;
    margin: auto;
    margin-top: 4px;
}

:local(.tempPPIcon_div){

    @include desktop_rules {
        position: absolute;
        width: 58px;
        height: 58px;
        border-radius: 29px;
        border: solid 5px#f9f9f9;
        top: -28px;
        left: -28px;
        background-color:#263238;    
    }

    @include mobile_rules {
        display: none;
    }
}

:local(.outfitUsername_div){
    font-size: 1.5rem;
    font-family: 'Archivo Black', sans-serif;
    color: black;
    margin-left: 5px;

    @include desktop_rules {
        height: calc(58px - 21px - 12px);
        line-height: calc(58px - 21px - 12px);
    }

    @include mobile_rules {
        height: 58px;
        line-height: 58px;
    }
}