@import "root";

$sliderWidth: 15px;

:local(.profileMenuContianer_div){

    background-color: var(--main-background-color);
    --container-height: 714.5px;
    height: calc(100vh - 80px);
    margin-top: 80px;

    @include desktop_rules {
        overflow: hidden;
    }

    @include mobile_rules {
        position: relative;
    }
}

:local(.bodyDiagramContainer_div){

    display: inline-block;
    vertical-align: top;
    height: 100%;

    @include desktop_rules {
        width: calc(50% - 320px);
    }

    @include mobile_rules {
        position: absolute;
        z-index: 2000;          
        left: 0px;         
        left: -660px;     
        transition: left 100ms linear;        
        top: 0px;        
        width: 100vw;
    }
}

:local(.fieldListContainer_div){

    @include desktop_rules {
        display: inline-block;
    }

    @include mobile_rules {
        display: block;
        width: 200vw;
        position: absolute;
        left: -100vw;
        height: 100%;
        z-index: 1000;
        transition: transform 100ms linear;
        left: 0px;
        /*transform: translateX(-100vw);*/
        top: 0px;  
        overflow-y: scroll;  
        overflow-x: hidden;
    }
}

:local(.fieldListContainer2_div){
    @include desktop_rules {
    }

    @include mobile_rules {
        width: 100%;
        height: 100%;
        position: relative;
    } 
}

:local(.fieldList_div){
    /*box-shadow: 5px 5px 17px #0000002e; */
    --profile-ctrl-contianer-width: 360px;
    --profile-ctrl-container-padding: 30px;
    --profile-ctrl-container-border-width: 1px;
    text-align: center;
    vertical-align: top;
    border-color: #dadada;
    border-style: solid;
    border-width: var(--profile-ctrl-container-border-width);
    border-radius: 3px;
    background-color: white; 
    padding: var(--profile-ctrl-container-padding);

    @include desktop_rules {
        height: 714.5px;
        width: 360px;
        margin: auto;
        margin-top: calc((100vh - 80px - var(--container-height))/2);
        display: inline-block;
    }

    @include mobile_rules {
        height: calc(100vh + var(--keyboard-height));
        padding-top: 0px;
        width: 100vw;
        margin: unset;
        position: absolute;
        left: 0px;
        display: block;
    }
}

:local(.toleranceFieldList_div){
    composes:fieldList_div;

    white-space: nowrap;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-color: rgb(226, 226, 226);   
    transition: width 150ms linear;

    @include desktop_rules {
        height: 714.5px;
        width: var(--profile-ctrl-contianer-width);
        margin-left: -1px;
    }

    @include mobile_rules {
        padding-top: 0px;
        margin: unset;
        width: 100vw;  
        height: 100vh;
        position: absolute;
        left: 100vw;
        display: block;  
    }
}

:local(.fieldListTitleContainer1_div){
    border-radius: 2px;
    margin-bottom: 10px;

    @include desktop_rules {
        height: 100px;
    }

    @include mobile_rules {
        height: 40px;    
    }

}

:local(.fieldListTitleContainer2_div){
	height: inherit;
    position: relative;
}

:local(.toleranceSettingsContianer_div){
    height: calc(100% - 110px);
    --main-height: 25px;
    position: relative;

    @include desktop_rules {
        padding-top: 50px;
    }

    @include mobile_rules {
        padding-top: 0px;
    }
}

:local(.toleranceSettings_div){
    position: relative;
    width: 300px;

    @include desktop_rules {
        margin-bottom: 20px;
        border-right: none;
    }

    @include mobile_rules {
        margin: auto;
    }
}

:local(.fieldListTitle_div){
    color: #3b3739;
	height: 30px;
    line-height: 30px;
    font-family: 'Archivo Black', sans-serif;
    position: absolute;
    width: 100%;
    transition: height 200ms ease-in-out;

    @include desktop_rules {
        font-size:30px;
        margin-top: calc(50px - 15px);
    }

    @include mobile_rules {
        font-size: 2rem;
        margin-top: calc(25px - 15px);
        text-align: left;
        margin-left: calc(-1*var(--profile-ctrl-container-padding)/2);
    }
}

:local(.sexHeadersContainer_div){
    width: 100px;
    margin: auto;
    margin-bottom: 10px;
}

:local(.sexHeader_div){
    font-size: 10px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
}

:local(.physiqueOptionsContainer_div){
    text-align: left;
    width: 101px;
    height: 50px;
    margin: auto;
    position: relative;
}

:local(.apparelOptionsContainer_div){
    composes: physiqueOptionsContainer_div;
}

:local(.physiqueBtnContainer_div){
    display: inline-block;
    width: 40px;
    margin-right: 10px;
    width: 50%;
    margin: unset;
    height: inherit;
}

:local(.apparelBtnContainer_div){
    composes: physiqueBtnContainer_div;
}

:local(.optionsHeader_div){
    $height: 30px;
    position: absolute;
    vertical-align: bottom;
    width: 100px;
    height: $height;
    right: 110px;
    top: calc(50% - #{$height}/2);
    width: 50px;
    text-align: right;
}

:local(.inputNumberContainer_div){
    position: relative;
    --input-number-container-padding: 3.5px;
    width: 100%;
    margin: auto;
    text-align: left;
    display: inline-block;
    height: 23px;
    margin-top: 3px;
    padding: var(--input-number-container-padding);
    /*height: 30px;*/
    /*transition: color 200ms ease-in-out, background-color 200ms ease-in-out*/

    @inlcude desktop_rules {
        top: calc(10px + (100vh - 80px - var(--container-height))/2);
    }

    @include mobile_rules {
        top: 5px;
    }
}

:local(.selectHighlight_div){
    z-index:-1;
    position: absolute;
    height: inherit;
    margin-top: -3.5px;
    width: 0px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.61);
    transition: width 150ms ease-in-out;
}

:local(.inputNumber_div){	
	text-align: center;
	display: inline-block;
	margin: auto;
	/*margin-top: 8px;*/
	margin-right: 10px;
	border-radius: 3px;
    border-width: 1px;
    border-color: #434343;
    border-style: solid;
    width: 25%;
    /*height: inherit;*/
    height:23px;
}

:local(.displayUnits_div){
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 23px;
    line-height: 23px;
    font-size: 20px;
    color: #bbbbbb;
    letter-spacing: .13rem;
    font-family: 'Archivo Black', sans-serif;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out
}

:local(.inputNumber_input){
	width: 80%;
	text-align: center;
	font-size: 15px;
	outline: none;
	color: #212121;
	background-color: #fdfdfd;
    letter-spacing: .13rem;
    text-align: left;
}

:local(.inputNumberLabel_div){
    composes:label from './root.scss';
	display: inline-block;
    /*font-size: 1.7rem;*/
    font-size: 1.5rem;
    float: right;
    height: inherit;
    height:inherit;
    line-height: 23px
}

:local(.btnsContainer_div){    
	width: 100%;
    height: 35px;
    margin-top: 25px;
}

:local(.btns_div){
	position: relative;
	height: inherit;
	width: 100%;
}

:local(.submitBtnText_div){
    composes:l3Button from './forms.scss';
	position: absolute;
	height: inherit;
	width: 75px;
	right: 0px;
	/*background-color: #525252;
    color: #fdfdfd;
    border: solid 2px #000000;*/
	cursor: pointer;
	border-radius: 3px;
    line-height: 35px;
    font-size: 13px;
}

:local(.goBackBtnText_div){
	composes:submitBtnText_div;
	left: 0px;
}

:local(.measurementsContainer_div){
    height: inherit;
}

:local(.measurements_div){
    position:relative;
    --main-height:25px; 
    --tick-display-cnt: 9;
    /*--mvalue-width: calc(100%/var(--tick-display-cnt)); */  
    --tick-border-width: 1px;
    /*background-color: #6dd7b4ad;*/
    background-color: #a3a3a3;
    width: 100%;
    height: var(--main-height);
    margin-top: 2px;
    margin-bottom: 2px;
}

:local(.measurementValue_div){ 
    position: absolute;
    top:0px;
    height: inherit;   
    line-height: var(--main-height);
    /*left: calc(150px - 15px);*/
    left: calc(50% - var(--mvalue-width)/2 + 2*var(--tick-border-width));
    /*width: 30px;   */
    width: calc(var(--mvalue-width) - 1px);
    z-index: 1000;
    color: black;
    font-size: 13px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    user-select: none;
    margin-left: -2px;
}

:local(.minMaxMarker_div){
    --minMaxMarker-border-width: 3px;

    position: absolute;
    height: calc(100% - 47px);
    border-left: solid var(--minMaxMarker-border-width) var(--color8);
    top: -($sliderWidth);
    left: 64px;
    transform: translateX(calc(#{$sliderWidth} / 2 - var(--minMaxMarker-border-width) / 2));
}

:local(.minMaxIndicatorContainer_div){
    position: relative;
}

:local(.minMaxIndicator_div){
    position: absolute;
    --diameter: 30px;
    --border-width: 3px;
    --indicator-width: calc(var(--diameter) + 25px);
    /*width: var(--diameter);*/
    width: var(--indicator-width);
    height: var(--diameter);
    border-radius: var(--diameter);
    border: solid var(--border-width) var(--color8);
    /*left: calc(-1*(var(--diameter)/2 + var(--border-width)/2));*/
    left: calc(-1*(var(--indicator-width)/2 + var(--border-width)/2));
    top: calc(-1*var(--diameter));
    line-height: calc(var(--diameter) - 2*var(--border-width));
    text-align: center;
    padding-top: 1px;
    font-size: 14px;
    font-weight: bold;
}


:local(.toleranceControllersContainer_div){
    position: absolute;
    top: 0px;
    width: 100%;
}

:local(.toleranceController_div){
    position: relative;
    height: inherit;
    width: 100%;
}

:local(.sliderContainer_div){
    user-select: none;
    width: 100%;
    height: var(--main-height);
    margin-top: 2px;
    margin-bottom: 2px;
}

:local(.maxSlider_div){
    position: absolute;
    height: var(--main-height);
    width: $sliderWidth;
    cursor: grab;
    border-radius: 2px;
    border: solid 1px #525252;
    background-color: #ffffff;
    right: 0px;
}

.maxSlider_div:active{
    cursor: grabbing;
}

:local(.minSlider_div){
    composes:maxSlider_div;
    left: 0px;
}

:local(.rangeHighlight_div){
    --range-highlight-offset: calc(#{$sliderWidth} / 2);
    position:absolute;
    background-color: #00000052;
    height: 25px;
}

:local(.tolerancePresetContainer_div){
    user-select: none;
    width: 33%;
    display: inline-block;

    @include desktop_rules {
        height: 50px;
    }

    @include mobile_rules {
        height: 37px;
    }
}

:local(.tolerancePreset_div){
    height: inherit;
    margin: auto;

    @include desktop_rules {
        width: 50px;
    }

    @include mobile_rules {
    }
}

:local(.toleranceUnitContainer_div){
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0px;
    left: calc(var(--profile-ctrl-contianer-width) - var(--profile-ctrl-container-padding) + 5px);
}

:local(.toleranceUnit_div){
    line-height: 50px;
    font-size: 20px;
    font-family: "Archivo Black";
    color: gray;
}

:local(.toleranceCheckBox_div){    
    width: 100%;
    height: inherit;
    font-weight: bold;
    letter-spacing: .08rem;
    font-size: 1rem;
    cursor: pointer;
    border: solid 1px #525252;

    @include desktop_rules {
        line-height: 50px;
        border-radius: 4px;
    }

    @include mobile_rules {
        line-height: 35px;
    }
}


:local(.slideValueRange_div){
    --value-spacing: 20px;
    --value-range-width: 95px;
    position: absolute;
    right: calc(var(--value-spacing) - 2*var(--profile-ctrl-container-padding) - var(--value-range-width));
    width: var(--value-range-width);
    line-height: var( --main-height);
}

.slidValue{
    composes:label from './root.scss';
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    text-transform: unset;
    user-select: none;
    width: 45
}

:local(.slideValueMin_div){
    composes:slidValue;
    line-height: inherit;
    display: inline-block;
    float: left;
}

:local(.slideValueTo_div){
    composes:slidValue;
    width: 5px;
    display: inline-block;
}

:local(.slideValueMax_div){
    composes:slidValue;
    line-height: inherit;
    display: inline-block;
    float: right;
}

:local(.slideLabel){
    composes:label from './root.scss';
    display: none;
    user-select:none;
    position: absolute;
    height: var(--main-height);
    text-align: right;
    /*font-size: 1.4rem;
    color: #707070;
    text-transform: capitalize;*/
    --label-spacing: 20px;
    --label-width: 100px;
    position: absolute;    
    width: var(--label-width);
    left: calc(var(--label-spacing) - 2*var(--profile-ctrl-container-padding) - var(--label-width));
    line-height: var( --main-height);
}

:local(.tick_div){
    /*width: calc(((100% - 30px)/8)/2);*/
    width: calc(((100%)/var(--tick-display-cnt))); 
    height: var(--main-height);
    vertical-align: top;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: var(--tick-border-width);
    vertical-align: top;
    display: inline-block;
}

/*:local(.tickRight_div){
    composes:tickLeft_div;
    border-style: none;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 1px;
}*/



:local(.slideSwitchLabelContainer_div){
    display: inline-block;
    width: 25%;
    height: inherit;
    line-height: 30px;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
}

:local(.slideSwitchLabel_div){
    height: inherit;
    /*color: #525252;*/
    color: #bbbbbb;
    font-family: 'Archivo Black', sans-serif;
}

:local(.slideSwitchContainer_div){
    display: inline-block;
    width: 50%;
    height: inherit;
}

:local(.slideSwitch_div){
    position: relative;
    background-color: #525252;
    border: solid 1px #525252;
    height: inherit;
    border-radius: 12px;
}

:local(.slide_div){    
    position: absolute;
    /*box-shadow: inset 0px 0px 13px 0px #0000009c;*/
    width: 65%;
    height: 100%;
    border-radius: 10px;
    background-color: #f9f9f9;
    overflow: hidden;
    cursor: pointer;    
    left: 0px;
    transition: left 200ms ease-in-out;
}