@use "sass:map";
/*@use "@material/button/mdc-button";*/
/*@use "@material/ripple";*/

$pageHeaderHeight: 60px;
$mobilPageHeaderHeight: 48px;
$mobileFooterHeight: 48px;
$mobileMetricPanelWidth: 320px;
$desktopMetricPanelWidth: 300px;
$loaderContainerWidth: 100px;

@mixin desktop_rules{
	/*web*/
	@media screen and (min-aspect-ratio: 13/9){
		@content;
	}
	/*@media screen and (max-aspect-ratio: ) {

	}*/
};

@mixin mobile_rules{
	/*mobile*/
	@media screen and (max-aspect-ratio: 13/9){
		@content;
	}
}

@keyframes imgFadeIn{
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes imgFadeOut{
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		display: none;
	}
}

@keyframes risingFadeIn{
	from{
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes slideInRTL{
	from{
		opacity: 0;
		transform: translateX(100vw);
	}

	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes slideOutLTR{
	from{
		opacity: 1;
		transform: translateX(0);
	}

	to{
		opacity: 0;
		transform: translateX(100vw);
	}
}

@keyframes expandFadeIn{
	from{
		transform: scaleY(0%);
		opacity: 0;
	}

	to{
		transform: scaleY(100%);
		opacity: 1;
	}
}

@keyframes contractFadeOut{
	from{
		transform: scaleY(100%);
		opacity: 1;
	}

	to{
		transform: scaleY(0%);
		opacity: 0;
	}
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

* {
	box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

	/*make all text non-selectable by default*/
  	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

input, textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

html{
	--color-01: #304244;
		--color-01-tint-01: #506a6d; --color-01-tint-02: #90a7a9; 
		--color-01-shade-01: #152628; --color-01-shade-02: #071719;
	--color-02: #d1c6c3;
		--color-02-tint-01: #fffaf9; --color-02-tint-02: #ffffff; 
		--color-02-shade-01: #9A8B88; --color-02-shade-02: #534845;
	--color-03: #ece0dc; 
		--color-03-tint-01: #fffcfc; --color-03-tint-02: #ffffff; 
		--color-03-shade-01: #B4A19B; --color-03-shade-02: #76635C;
	--color-04: #bb8558; 
		--color-04-tint-01: #ffcfa6; --color-04-tint-02: #ffddc0; 
		--color-04-shade-01: #86552c; --color-04-shade-02: #48280D;
	--color-05: #e24441; 
		--color-05-tint-01: #fd6e6a; --color-05-tint-02: #ff9795; 
		--color-05-shade-01: #c6211d; --color-05-shade-02: #9d0e0a;

	--color-desktop-01: #f9f9f9;
	
	font-size: 10px;
	height: 100%;

	@include desktop_rules{
		overflow: hidden;
	}
	@include mobile_rules {
		position: fixed;
	};
}

body{
	--gray02: #fcfcfc;

	--color1: #565656;
	--color2: #d9d9d9;	
	--color3: #a9a9a9;
	--color4: #c4edff;
	--color5: #fdd835;
	--color6: #24b0ed;
	--color7: #fdd835ad;
	--color8: #fd357e;
	--color9: #263238;
	--colorBorder: #c1c1c1;
	/*--color-mobile-icon-bg: #263238;*/
	--color-mobile-icon-bg: #fff;
	--color-generic-icon: #4f4f4f;
	--color-password-req: #f9e5e4;

	/* TODO:
	*  It makes no sense currently to set these values as sass variable 
	*  if they have to be set as css variable, which is the case.
	*  Change this later if that is stll the case 
	*/
	--img-aspect-ratio: calc(3/4);
	--mobile-metric-panel-width: calc(1*#{$mobileMetricPanelWidth});
	--page-header-height: calc(1*#{$pageHeaderHeight});
	--mobile-page-header-height: calc(1*#{$mobilPageHeaderHeight});
	--mobile-footer-height: calc(1*#{$mobileFooterHeight});
	--desktop-footer-height: 0px;

	--shadow-color: #00000025;
	--mat-height-4: 0px 0px 4px 0px var(--shadow-color);
	--mat-height-8: 0px 0px 8px 0px var(--shadow-color);
	--mat-height-12: 0px 0px 12px 0px var(--shadow-color);
	--mat-height-16: 0px 0px 16px 0px var(--shadow-color);	

	/*non-expanded items that will faid out when in expandedViewState*/
    --ic-transition-period: 70ms;
	/*period to move expanded item to the top of its parent element*/
	--item-transition-period: 170ms;
	/*time to wait befor moving expanded item to top of its parent*/
	--item-transition-delay: calc(var(--ic-transition-period)*0.8);
    /*time to expand the item info elements*/
    --item-info-transition-period: 100ms;

	--item-transition-total: calc(var(--item-transition-period) + var(--item-transition-delay));
	--eif-transition-start: calc(var(--item-transition-total) + var(--item-info-transition-period));

	/*outfit.scss*/
	--ombc-frame: 3px;
	/*previewImageContainer_div padidng-top*/
	--pic-padding-top: 0px;
	--cc-mobile-height: 40px;
	--cc-desktop-height: 75px;
	--pic-prev-controls-top: 7px;
	/* contentListContainer_div height */
	--clc-mobile-height: 20px;


	background-color: #fdfdfd;
	height: 100%;
	padding: 0px 0px 0px 0px;	
	overflow-y: hidden;

	@include desktop_rules {
		margin: 2.5px 0px 2.5px 0px;
    }

    @include mobile_rules {
    	margin: 0px;
    }
}

button{
	outline: none;
	border: unset;
}

:local(.btn_svg){
    height: 100%;
    width: 100%;
    cursor:pointer; 
}

div{
	font-family: Roboto, cursive;
    letter-spacing: 0.08rem;
}

.ReactCrop div:first-child {
	height:100%;
}
.ReactCrop__rule-of-thirds-vt::before{
	top:0px;
}
.ReactCrop__rule-of-thirds-vt::after{
	top:0px;
}
/*
.customSurface{
	@include ripple.surface { height: 100%; }
	@include ripple.radius-bounded { }
	@include ripple.states-base-color(black);
	@include ripple.states-opacities((hover: .1, focus: .3, press: .4));
}

:local(.customSurfaceBrowse){
	composes:customSurface;
	height: 100%;
}*/

h2{
	font-family: 'Archivo Black', sans-serif;
	margin: 0px;

	@include desktop_rules {
		font-size: 27px;
    }

    @include mobile_rules {
    	font-size: 18px;
    }
}

p{
    margin: 0px;

    @include desktop_rules {
   		font-family: Roboto, Comfortaa, cursive;
   		/*font-size: 18px;*/
   		font-size: 14px;
   		/*line-height: 23px;*/
   		line-height: 20px;
   		word-spacing: 2px;
    }

    @include mobile_rules {
   		font-family: Roboto, Comfortaa, cursive;
   		font-size: 14px;
   		line-height: 15px;
   		word-spacing: unset;
    }
}

a{
	color: inherit;
	text-decoration: none;
}

:local(.logoContainer_div){
    transition: width 175ms linear;
    top: 0px;

	@include desktop_rules {
    	position: absolute;
		left:0px;
    	margin-top: 8px;
    	border-bottom-right-radius: 5px;
    	border-top-right-radius: 5px;
    	height: calc(.78*var(--page-header-height));
    }

    @include mobile_rules {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	height: 100%;
    	width: 56px;
    }
}

:local(.logo_svg){	;
    height: var(--logo-height);
    z-ingex: -1;

    @include desktop_rules {
		position: absolute;
    	left: 0px;
    	top: 50%;
    	margin-top: calc(-1*var(--logo-height)/2);
    	width: calc(var(--logo-height) + 20px);
		--logo-height: 37px;

    }

    @include mobile_rules {
    	/*left: 0px;
		--logo-height: 45px;*/
		--logo-height: 70%;
		width: auto;
    }
}

#root{
	--main-background-color: #f9f9f9;
}

#modalRoot{
	position: relative;
	z-index: 2000;
}

.pressable:hover{
	cursor: pointer;
}

.defaultCursor:hover{
	cursor: default;
}

.modal{	
	/*background-color: rgba(0,0,0,0.6);*/
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

    @include desktop_rules {
		align-items: center;
		justify-content: center;
    }

    @include mobile_rules {

    }
}

.loginPage_div{
	composes:modal;
	background-color: unset;
}

.stdBlock{
	--entity-selected-border-color: red;		/*Defualt border color for selected divs representing entities*/
	border-radius: 5px;
	/*background-color: #434343;*/
	/*padding: 3px;*/
	font-size: 150%;
	/*color: #FFFFFF;*/
}

.stdButton{
	composes: stdBlock;
	height: 35px;
	height: var(--selectable-height);
	/*background-color: #1c2023;*/
	font-size: 80%;	
}

.stdButton{
	composes:pressable;
	--button-transition-period: 170ms;
	cursor:pointer;
}

.stdButton:hover{
	/*background-color: #c27e1d;*/
	color: #6f6f6f;
    background-color: #d8d8d8;
    transition: color var(--button-transition-period), background-color var(--button-transition-period);
}

.containerProfile{
	/*display: grid;*/
	--column-width-browse: 20%;
	--column-width-metric: 300px;
	--column-width-preview: 27%;
	--column-width-item: auto;
	background-color: var(--main-background-color);
	/*grid-template-columns: auto 250px 45% 20%;*/
	grid-template-columns: 
		var(--column-width-metric) 
		var(--column-width-browse)
		var(--column-width-preview) 
		var(--column-width-item); 
	/*grid-template-columns: 300px 28.579% 27% auto;*/
    grid-template-rows: calc(100vh - 80px - 40px) 40px;
    grid-gap: 0px;
    grid-template-areas: 
    	"metric browse preview itemmenu"
 		"admin admin admin admin";
	height:100%;

	@include desktop_rules {
    }

    @include mobile_rules {
		width: 100vw;
    }
}

.containerBrowse{
	/*display: grid;*/
	background-color: var(--main-background-color);
	/*grid-template-columns: 300px auto;
    grid-template-rows: calc(100vh - 80px - 40px) 40px;
    grid-template-areas: "metric browse" "admin admin";*/
	/*grid-template-columns: auto 80%;
	grid-template-rows: calc(100vh - 80px - 40px) 40px;
	grid-gap: 5px;
	grid-template-areas:
		"metric browse"
		"admin admin";*/
}

.label{
    color: #707070;
    font-family: Roboto;
    font-size: 1.7rem;
    letter-spacing: 0.07rem;
    text-transform: capitalize;
}

:local(.metricsContainer_div){
	position: absolute;
    left: 0px;
    height: calc(100vh - #{$pageHeaderHeight} - var(--desktop-footer-height));
    border-right-style: solid;
    border-right-width: 1px;

    @include desktop_rules {
    	width: 300px;
    }

    @include mobile_rules {
    	width: 320px;
    }
}

:local(.headerBlock){
	z-index: 1000;
	/*background-color: var(--main-background-color);*/
	/*background-color: #ff8787;*/
	/*background-color: #35c8fd;*/
	/*border-bottom: solid 1px #c1c1c1;*/
	/*grid-area: nav;*/
	top: 0;
	width: 100%;
	font-size: 100%;

    @include desktop_rules {
		height: $pageHeaderHeight;
    	border-bottom: solid 1px var(--color-02);
    	background-color: var(--color-mobile-icon-bg);

    }

    @include mobile_rules {
		position: fixed;
    	/*box-shadow: 0px -11px 15px 0px black;*/
    	box-shadow: var(--mat-height-8);
    	transition: transform var(--item-transition-period) linear;
   	 	will-change: transform;
    	/*background-color: #eeeeee;*/
    	background-color: white;
    	display: flex;
    	justify-content: flex-start;
    	height: var(--mobile-page-header-height);
    	/*border-bottom: solid 1px #c1c1c1;*/
    	z-index: 6;
    }
}

:local(.headerBlock--hidden){
	composes: headerBlock;

    @include desktop_rules {
    }

    @include mobile_rules {
    	transform: translateY(calc(-1*var(--page-header-height)));
    }
}

:local(.contentBlock){	

    @include desktop_rules {
    	/*height: calc(100vh - 0px);*/
    	margin-top: 0px;
    	height: calc(100vh - 0px);
    }

    @include mobile_rules {
		margin-top: var(----mobile-page-header-height);
    	height: calc(100vh - var(--mobile-page-header-height));
    	/*border-bottom: solid 1px #c1c1c1;*/
    }
}

:local(.managementContainer_div){
	position: absolute;
	right: calc(23px + 50px);
	top: 0px;

    @include desktop_rules {
    	margin-right: 12px; /* Tempory fixt to properly space profile icon with button in this div*/
		width: auto;
		height: var(--page-header-height);
    }

    @include mobile_rules {
    	width: 0px;
    	display: none;
    	height: 0px;
    	top: calc(-1*var(--page-header-height))
    }
}

/*:local(.logo_svg){
	position: absolute;
    width: auto;
    height: 100%;
    margin-left: 290px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}*/

:local(.contentContainer){
	position: relative;
    /*height: calc(100% - 40px);*/
	padding-left: 0px;

    @include desktop_rules {
		/*margin-top: var(--page-header-height);*/
		margin-top: 0px;
		height: calc(100vh - var(--page-header-height));
		padding-top: 0px;
    }

    @include mobile_rules {
    	/*margin-left: 0px;*/
    	height: 100%;
    	/*overflow-y: scroll;
    	overflow-x: hidden;*/
    }
}

:local(.contentContainerFocused){
	composes:contentContainer;
	white-space:nowrap;

	@include desktop_rules {
		position: relative;
		padding-left: 400px; 
		margin-left: 300px;
		padding-top: 80px;
        transition: opacity 200ms linear;
        width: auto;
        height: inherit;
		/*padding-top: 0px;*/
    }

    @include mobile_rules {
		padding-left: 0px; 
		width: 100vw;
		/*height: 100%;*/
		/*height: calc(100% - 55px);*/
    }
}

/*.contentContainerFocused-enter{	
	@include desktop_rules {
		transform: scale(0);
		opacity: 0;
    }

    @include mobile_rules {
    }
}

.contentContainerFocused-enter-active{
	@include desktop_rules {
		transform: scale(1);
		opacity: 1;
    }

    @include mobile_rules {
    }
}

.contentContainerFocused-exit{
	@include desktop_rules {
		transform: scale(1);
		opacity: 1;
    }

    @include mobile_rules {
    }
}*/

.contentContainerFocused-exit-active{
	@include desktop_rules {
		transform: scale(0);
		opacity: 0;
    }

    @include mobile_rules {
    }
}


.itemFormContainer{
	opacity: 0;
	transition: transform 200 linear;

}

.itemFormContainer-enter{	
	@include desktop_rules {
		transform: scale(2);
		opacity: 0;
    }

    @include mobile_rules {
    }
}

.itemFormContainer-enter-active{
	@include desktop_rules {
		transform: scale(1);
		opacity: 1;
    }

    @include mobile_rules {
    }
}

.itemFormContainer-exit{
	@include desktop_rules {
		transform: scale(1);
		opacity: 1;
    }

    @include mobile_rules {
    }
}

.itemFormContainer-exit-active{
	@include desktop_rules {
		transform: scale(2);
		opacity: 0;
    }

    @include mobile_rules {
    }
}

:local(.controlsContainer){
	position: fixed;

    @include desktop_rules {
    	left: 200px;
  		top: calc(25px + 5vh);
    	display: block;
    	height: 270px;
    	width: 45px;
    	border-right: solid 1px var(--color2);
    	padding-right: 5px;

    	left: 307px;
    	height: var(--cc-desktop-height);
    	padding: 0px;
    	top: var(--top-margin);
    	border: none;
		background-color: #a1c3d2;
    	border-top-left-radius: 6px;
    	border-top-right-radius: 6px;
    	--icon-color: black;
    	width: inherit;
    	border: none;
    	padding-top: 15px;
		text-align: center;
    }

    @include mobile_rules {
    	transition: transform var(--item-transition-period) linear;
    	will-change: transform;
    	left: 0px;
   		top: unset;
   		bottom: 0px;
   		height: var(--cc-mobile-height);
   		padding-right: 0px;
   		padding-top: 7.5px;
   		/*width: 100vw;*/
   		width:100%;
   		display: block;
   		/*border: unset;
   		border-top: solid 1px #a1a1a1;*/   		
    	box-shadow: var(--mat-height-8);
    }
}

:local(.addOutfitControlsContainer){
	/*composes: controlsContainer;*/

	@include desktop_rules {
    	/*background-color: var(--main-background-color);*/
    	position: absolute;
		top: calc(var(--outfit-header-height) - 28px);
		z-index: 7;
		left: calc(50% - 700px/2 - 150px + 23px + 700px - 120px + 85px);
		display: flex;
    	justify-content: center;
    	align-items: center;
    	background-color: #f9f9f9;
    	height: 56px;
	}

    @include mobile_rules {
    	display:  none;
    	background-color: var(--main-background-color);
    	/*z-index: 11;*/
    	z-index: 7;
    	box-shadow: black 0px 11px 15px 0px;
		position: fixed;
   		bottom: 0px;
   		right: 0px;
   		width: auto;
   		padding: 0px;
   		width: 100%;
   		text-align: center;
   		border: none;
    }
}

:local(.controlsContainerPreviewMode){
	composes:controlsContainer;
	display: flex;
	justify-content: space-between;
	--translate-y: 0px;

	@include desktop_rules {
		padding: 0px 17px 0px 17px;
    	left: 307px;
    	width: 16%;
		width: calc(75% - 0.75*var(--img-preview-modal-height) - 400px);
		background-color: unset;
		//border-bottom: solid 1px var(--color2);
		border-radius: 0px;
		background-color: white;
		top: var(--pic-prev-controls-top);
		right: 0px;
		left: unset;
		position: absolute;
		width: 400px;
		background-color: unset;
		height: unset;
    	/*height: var(--cc-desktop-height);*/
    }

    @include mobile_rules {
    	transform: 'translateY(var(--translaty-y))';
    	padding: 0px;
    	height: var(--mobile-footer-height);
    	background-color: white;
    	align-items: center;
    }
}

:local(.controlsContainerTitle){    
    right: 0px;
    margin-top: 0px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    width: 175px;
    padding-left: 15px;

	@include desktop_rules {
		position: absolute;
    	display: block;
    	border-bottom: solid 1px #d9d9d9;

    	display: none;
    }

    @include mobile_rules {
    	border: unset;
    	display: none;
    }
}

:local(.expandMetricBtn_div){
	position: absolute;
	
	/*web*/
	/*@media screen and (min-aspect-ratio: 1/1){
		display: none;
	}*/
	@include desktop_rules {
		/*position: fixed;*/
		display: none;
	};

    /*border-radius: calc(var(--exp-btn-width)/2);
    position: absolute;
    background-color: #3b3739;
    z-index: 10001;
    border: solid var(--exp-btn-border) #3b3739;
    color: white;
    line-height: calc(var(--exp-btn-width) - 2*var(--exp-btn-border));
    font-size: calc(var(--exp-btn-width)/2);
    text-align: center;*/
	/*mobile*/
	/*@media screen and (max-aspect-ratio: 1/1){*/
	@include mobile_rules {
		display: block;
		--exp-btn-width: 40px;
    	--exp-btn-border: 2px;
    	height: var(--exp-btn-width);
    	width: var(--exp-btn-width);
    	top: 50%;
    	right: calc(-1*(var(--exp-btn-width)));
    }
}

.loadContainer_div{
	height: 40px; 
	width: $loaderContainerWidth; 

	@include desktop_rules {
		margin-left: 600px;
	}

	@include mobile_rules {
		margin-left: calc(50% - #{$loaderContainerWidth}/2);
	}
}

.metricBlock{
	position: absolute;
	/*left: 7px;*/
	/*transition: left 100ms linear;*/
	will-change: transform;
	transition: transform 100ms linear; 

	--fz-color: var(--color-01-tint-02);
    --nfz-color: var(--color-03);
    --bar-fill-color: #54c2f1a8;
    /*--bar-border-color: #54c2f1;*/
    --bar-border-color: var(--color-mobile-icon-bg);
    --moulding-radius:5px;
    --body-height: calc((100vh - 80px - 165px - 20px - 6px - 45px)*0.5);
	border-bottom-style: none;
    border-width: 20px;
    border-color: #dadada;
	border-right-width: 1px;
    border-right-color: black;
    /*--x-axis-range: calc(300px - 13vh - 30px);*/

	@include desktop_rules {
		border-right: solid 1px var(--color-02);
		padding-top: 0px;

    	--x-axis-range: calc(#{$desktopMetricPanelWidth} - 13vh - 23px);
		height: calc(100vh - #{$pageHeaderHeight} - var(--desktop-footer-height) - 8px);
		/*padding-top: calc(80px + 7px);*/
		/*margin-top: $pageHeaderHeight;*/
		margin-top: 0px;
		left: -1px;
		z-index: unset;
	}

	@include mobile_rules {
    	--x-axis-range: calc(#{$mobileMetricPanelWidth} - 13vh - 30px);
		/*left: -300px;*/
		left: calc(-1 * #{$mobileMetricPanelWidth});
		/*width: $mobileMetricPanelWidth;*/
		width: 100%;
		/*z-index: 10;
		height: calc(100vh - 80px);*/

		z-index: 1000;
    	height: calc(100vh + 2px);
    	border-radius: 0px;
    	top: -9px;
    	background-color: #ffffff;
	}
} 

:local(.metricBlock--shown){
	composes: metricBlock;

	@include desktop_rules {
	}

	@include mobile_rules {
		transform: translateX(var(--mobile-metric-panel-width));
	}
}

.metricBlockPreview{
	composes: metricBlock;

	/*@include desktop_rules {
		display: block
	}

	@include mobile_rules {
		display: none;
	}*/

}

:local(.titleContainer_div){
	/*border: solid 1px var(--colorBorder);
    background-color: white;
    border-radius: 5px;*/

	@include desktop_rules {
		/*background-color: var(--gray02);*/
		/*background-color: #ffffff;*/
		display: block;
	}

	@include mobile_rules {
		display: none;
	}
}

:local(.mobileTitleContainer_div){
	@include desktop_rules {
		display: none;
	}

	@include mobile_rules {    
		display: none;
   		/*position: fixed;
   		left: 0px;
   		top: 80px;*/
   		background-color: #263238;
   		border: none;
   		width: 100%;
   		height: 80px;
   		border-radius: 0px;
	}
}

:local(.userTitle_div){

	@include desktop_rules {
	}

	@include mobile_rules {    
	    padding-top: 15px;
    	padding-left: 12px;
    	height: 100%;
    	margin-right: -1px;
    	position: relative;
	}
}

:local(.metricContainer_div){
	--comp-icon-fill: var(--color-generic-icon);
	position:relative;
	/*height: calc(100% - 16px + 40px);*/
	/*height:100%;*/
    border-style: solid;
    border-width: 1px;
    /*border-color: #c1c1c1;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;*/
    /*background-color: white;*/
    margin-top: 8px;
    left: 0px;

	/*web*/
	/*@media screen and (min-aspect-ratio: 1/1){*/
	@include desktop_rules {
		margin-top: 0px;
		border: unset;
		border-radius: unset;
	}

	/*mobile*/
	/*@media screen and (max-aspect-ratio: 1/1){*/
	@include mobile_rules {
		overflow-y: scroll;
    	overflow-x: hidden;
		height: 100%;
    	border: none;
    	border-radius: 0px;
	}
}

:local(.points_div){
	font-size: 30px;
    font-family: 'Archivo Black';
    left: calc(300px/4);
    text-align: right;
    height: 30px;
    padding-right: 15px;
    line-height: 30px;
    margin-top: 27px;
    position: absolute;
    right: 0px;

	@include desktop_rules {
    	color: #3b3739;
    	bottom: 15px;
	}

	@include mobile_rules {
    	color: #35c8fda8;
    	bottom: 9px;
	}
}

.metricContainer_div-enter{
	composes:metricContainer_div;
	left:-300px;
}

.metricContainer_div-enter-active{
	left: 0px;
	transition: left 150ms ease-in;
}

.metricContainer_div-exit{
	left: 0px;
}

.metricContainer_div-exit-active{
	left:-300px;
	transition: left 150ms ease-out;
}

:local(.metricHeader){
	display: none;
	@include desktop_rules {
		display: none;
	}

	@include mobile_rules {
		background-color: var(--color2);
		height: 80px;
	}
}


:local(.previewBlock){
	composes: stdBlock;
	/*grid-area: preview;*/
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	/*background-color: rgba(28, 32, 35, 0);*/

	@include desktop_rules {		
		/*height: calc(100% - #{$pageHeaderHeight});*/
		height: 100%;
		width: auto;
		max-width: calc(100vw - 400px - 7px);
	}

	@include mobile_rules {
		/*height: calc(100% - #{$pageHeaderHeight} - 40px);*/
		height: 100%;
		width: 100%;
		height: calc(100% - var(--mobile-footer-height));
		/*margin-top: -30px;*/
		margin-top: 0px;
		background-color: #f9f9f9;
		/*background-color: var(--color-01-shade-02);*/
		border-radius: 0px;
	}
}

:local(.editingPreviewBlock){
	composes: previewBlock;
	
	@include desktop_rules {
	}

	@include mobile_rules {
		margin-top: 0px;
	}
}

:local(.itemMenuBlock){
	composes: stdBlock;
	grid-area: itemMenu;
}

:local(.outfitBlock){
	composes: stdBlock;
	position: relative;

    --outfit-header-height: 170px;

	@include desktop_rules {
		height: calc(100vh - #{$pageHeaderHeight} + var(--desktop-footer-height));
		margin-left: 307px;
		/*height: calc(100vh - var(--desktop-footer-height));*/
		/*height: inherit;*/
		/*padding-top: var(--page-header-height);*/
		padding-top: 0px;
	}

	@include mobile_rules {
		height:calc(100vh - var(--mobile-page-header-height) - var(--mobile-footer-height));
		margin-left: 0px;
		margin-top: var(--mobile-page-header-height);
		padding: 0px;
    	width: 100vw;
    	/*padding-bottom: $mobileFooterHeight;*/
    	overflow-y: scroll;
    	overflow-x: hidden; 
	}
}

:local(.browseControls){
	@include desktop_rules {
		display: none;
	}

	@include mobile_rules {
		display: block;
   		position: fixed;
   		bottom: 0px;
   		left: 0px;
   		width: 100vw;
   		border: unset;
   		/*border-top: solid 1px gray;*/
   		box-shadow: var(--mat-height-8);
   		height: var(--mobile-footer-height);
   		background-color: white;
   		/*z-index: 11;*/
   		z-index: 7;
	}
}

:local(.outfitBlock_div--profileView){
	composes: outfitBlock;    
	/*overflow-y: scroll;
    overflow-x: hidden;*/
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 0px;
    /*margin-top: calc(5vh + 25px);*/
    /*height: calc(786px - (5vh + 25px));*/
    width: 400px;
    border-style: solid;
    border-color: #bdbcbc;
    background-color: white;
    border-left: none;
    border-width: 1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

:local(.footerBlock){
	composes: stdBlock;
	/*grid-area: admin;
	background-color: #fdfdfd;
	color: #212121;
    font-size: 17px;
    border-radius: 0px;
    border-top-width: 1px;
    border-top-color: #afafaf;
    border-top-style: solid;
	grid-area: admin;*/
    background-color: #fdfdfd;
    color: #212121;
    font-size: 17px;
    border-radius: 0px;
    border-top-width: 1px;
    border-top-color: #afafaf;
    /* border-top-style: solid; */
    background-color: #f9f9f9;
    text-align: left;
    line-height: 40px;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: .1rem;
    color: #6d6d6d;
	padding-left: 20px;
    padding-right: 20px;
    margin-left: 307px;

	@include desktop_rules {
		display: block
	}

	@include mobile_rules {
		display: none;
	}
}

:local(.pagedListContainer_div){

	@include desktop_rules {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	@include mobile_rules {
		padding-top: 50px;
		padding-bottom: 150px;
	}
}

/*CSS styles for landing page port divs*/

:local(.landingPageContainer_div){
	height: 100vh;
	display: flex;
	justify-content: center;
	overflow-y: scroll;
    /*padding-top: 80px;*/

	@include desktop_rules {
		/*height: 100vh;
		background-color: #212121;
		padding-top: 200px;*/
	    width: 100%vw;

	}

	@include mobile_rules {
	    width: 100%;
	    margin-top: 48px;
	}
}

:local(.landingPageCTA_div){
	height: 100%;
    margin: 0px;
    /*background-color: var(--color-mobile-icon-bg);*/
    padding-top: 25px;

	@include desktop_rules {
		width: 50vw;
		/*height: 100%;
		width: 900px;
		margin: auto;
		margin-top: 25px;*/
	}

	@include mobile_rules {
    	width: 100%;
	}
}

:local(.landingPageSlot_div){
	display: flex;
    height: 25vh;
    align-items: center;

}

:local(.uvpPageSlot_div){
	composes: landingPageSlot_div;

    justify-content: center;
    margin: 15px 0px 0px 0px;
}

:local(.uvpMessage_div){
	font-size: 1.8rem;
    padding: 15px;
    text-align: center;

    @include desktop_rules {
    	width: 50%;
	}

	@include mobile_rules {
    	width: 80vw;
	}
}

:local(.howItWorksImage_div){
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
    /*height: 100%;*/
    height: 100%;
    background-color: var(--color-02);
}

:local(.howItWorksMessage_div){
	/*composes: uvpMessage_div;*/
	font-size: 1.4rem;
    width: 50%;
    padding: 15px;
    text-align: center;
}

:local(.howItWorksButtonContainer_div){
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

:local(.howItWorksButton_div){
	/*width: 100%;*/
    height: 45px;
    border-top: solid 1px var(--color-02-shade-01);
    margin-top: 70px;
    display: flex;
    justify-content: center;

    @include desktop_rules {
    	width: 100%;
	}

	@include mobile_rules {
    	width: 80%;
	}
}

:local(#uvpImage_div){
	width: 50%;
    height: 100%;
    background-color: var(--color-02);
}

:local(.portalCotnainer_div):hover{
	cursor: default;
}

:local(.portalContainer_div){
    width: 100%;
	position: relative;

    @include desktop_rules {
   		margin: auto;
   		margin-bottom: 50px;
   		margin-left:50px;
    	height: 200px;
	}

	@include mobile_rules {
		display: block;
    	height: 80px;
	}
}

:local(.portalMask_div){
	z-index: 1;
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
	background-color: #2121218a;

	@include desktop_rules {
	}

	@include mobile_rules {
	}
}

:local(.portalGraphicContainer_div){
	position: relative;
    height: 100%;
   	border-radius: 5px;
    cursor: pointer;

    @include desktop_rules {
		display: inline-block;
		vertical-align: top;
   		border: solid 2px #ffffff;
    	width: 200px;
	}

	@include mobile_rules {
		display: block;
    	margin: auto;
    	margin-bottom: 20px;
    	border: none;
    	width: 80px;
	}
}

:local(.portalContentContainer_div){
	position: relative;
    vertical-align: top;
    cursor: default;

    @include desktop_rules {
    	display: inline-block;
    	margin-left: 30px;
    	height: 100%;
    	width: calc(100% - 200px - 30px - 50px - 30px);
	}

	@include mobile_rules {
		display: block;
    	margin: unset;
    	width: 100vw;
    	height: 50px;
    	background-color: var(--color-mobile-icon-bg);
	}
}

:local(.portalHeaderContainer_div){
	@include desktop_rules {
	}

	@include mobile_rules {
    	padding-left: 20px;
    	padding-right: 20px;
	}
}

:local(.portalHeader_div){
	color: #ffffff;
    text-align: left;
    margin-bottom: 5px;

   	@include desktop_rules {
		height: 36px;
	}

	@include mobile_rules {
		height: 24px;
	}
}

:local(.portalDescription_div){
	color: white;
    text-align: left;

   	@include desktop_rules {
		height: 69px;
	}

	@include mobile_rules {
		height: auto;
	}
}

:local(.signupBtnContainer_div){
	/*text-align: center;
    margin-top: 25px;
    padding-right: 20px;
    color: white;*/

	/*text-align: right;
	font-size: 18px; */
	position: relative;
	width: auto;
	display: flex;
	justify-content: center;

   	@include desktop_rules {
		/*height: 69px;*/
		/*height: calc(200px - (36px + 69px + 5px));*/
	}

	@include mobile_rules {
		/*height: auto;*/
		margin-top: 17px;
	}
}

/*:local(.signupBtn_div){
	color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}*/

:local(.signupBtn_div){
	bottom: 0px;
	padding: 10px;
	cursor: pointer;

   	@include desktop_rules {
		position: absolute;
		right: 29px;
		border: solid 3px #86868666;
		border-radius: 3px;
	}

	@include mobile_rules {
    	position: relative;
    	--button-width: 150px;
    	width: var(--button-width);
    	margin: auto;
    	border: solid 8px var(--color-mobile-icon-bg);
    	border-radius: 15px;
    	background-color: var(--color8);
	}
}

:local(.signupBtnText_div){
	font-family: sans-serif;
	letter-spacing: 1px;
	color: white;
	line-height:  16px;
	height:  16px;
	text-align: center;

	@include desktop_rules {
		font-size: 16px;
	}

	@include mobile_rules {
		font-size: 14px;
	}
}

:local(.infoLinkContainer_div){
	position: relative;
    vertical-align: top;
    width: 50px;
    height: 100%;
    padding-top: calc(150px/2 - 12.5px);
    margin-left: 10px;
	
	@include desktop_rules {
    	display: inline-block;
	}

	@include mobile_rules {
		display: none;
	}
}

:local(.infoLink_div){
	color: white;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
}


/*.centerArea:before{
	content:'';
	display: inline-block;
	vertical-align: middle;
	vertical-align: middle;
	height: 100%;
}
.centerArea{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}*/

.ppIcon_img {
	--border-width: 5px;
	--border-color: var(--color-desktop-01);
	transition: border-color 50ms linear;
	border: solid var(--border-width) var(--border-color);
	animation: imgFadeIn 400ms;

	@include desktop_rules {
    }

    @include mobile_rules {
    }
}

.ppIcon_img:hover{
	--border-color: var(--color-05-tint-01);
}

.listLoading_div{
	width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menuListItemText_div{
	font-size: 1.8rem;
	color:var(--color-01-shade-02);
}


.comingSoon_div{
	position: relative;
	text-align: left;
	direction: ltr;
	padding: 2.4rem 1.2rem;
}

.comingSoon_h1{
	color: var(--color-01-tint-02);
	display: flex;
	align-items: center;
	font-size: 2.4rem;
	text-align: revert;
}

.msg_div{
	font-size: 1.8rem;
	margin-bottom: 2rem;
	line-height: 2rem;
	color: black;
}
